{% extends 'base.html.twig' %}

{# TODO message quand on est bien loggé #}

{% block title %}Log in!{% endblock %}
    {% block stylesheets %} <link rel="stylesheet" href="{{asset('css/login.css')}}"> {% endblock %}

{% block header %}
    <div class="container_perso_1 m-auto">
        <svg version="1.1" id="Calque_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
        viewBox="0 0 111.226 30.452" enable-background="new 0 0 111.226 30.452" xml:space="preserve">
        <path fill="none" d="M-41.743,69.114c0,0,12.424-53.092,93.014-53.092c80.59,0,98.051,53.092,98.051,53.092"/>
        <text transform="matrix(0.8325 -0.554 0.554 0.8325 -15.5891 34.161)"><tspan x="0" y="0" fill="#797979" font-family="'Amarillo'" font-size="10.0737px"> </tspan><tspan x="4.909" y="-0.003" fill="#797979" font-family="'Amarillo'" font-size="10.0737px" rotate="3.401"> </tspan><tspan x="9.811" y="0.286" fill="#797979" font-family="'Amarillo'" font-size="10.0737px" rotate="6.655"> </tspan><tspan x="14.691" y="0.853" fill="#797979" font-family="'Amarillo'" font-size="10.0737px" rotate="9.753"> </tspan><tspan x="19.534" y="1.684" fill="#797979" font-family="'Amarillo'" font-size="10.0737px" rotate="12.69"> </tspan><tspan x="24.289" y="2.546" fill="#797979" font-family="'Amarillo'" font-size="10.0737px" rotate="17.814">D</tspan><tspan x="37.428" y="6.97" fill="#797979" font-family="'Amarillo'" font-size="10.0737px" rotate="22.05">r</tspan><tspan x="40.675" y="8.242" fill="#797979" font-family="'Amarillo'" font-size="10.0737px" rotate="24.461">a</tspan><tspan x="47.25" y="11.238" fill="#797979" font-family="'Amarillo'" font-size="10.0737px" rotate="27.346">g</tspan><tspan x="53.279" y="14.376" fill="#797979" font-family="'Amarillo'" font-size="10.0737px" rotate="29.573"> </tspan><tspan x="57.619" y="16.814" fill="#797979" font-family="'Amarillo'" font-size="10.0737px" rotate="31.726">a</tspan><tspan x="63.778" y="20.597" fill="#797979" font-family="'Amarillo'" font-size="10.0737px" rotate="34.397">n</tspan><tspan x="69.459" y="24.437" fill="#797979" font-family="'Amarillo'" font-size="10.0737px" rotate="36.45">d</tspan><tspan x="75.936" y="29.256" fill="#797979" font-family="'Amarillo'" font-size="10.0737px" rotate="38.774"> </tspan><tspan x="79.823" y="32.25" fill="#797979" font-family="'Amarillo'" font-size="10.0737px" rotate="41.964">L</tspan><tspan x="88.351" y="40.036" fill="#797979" font-family="'Amarillo'" font-size="10.0737px" rotate="45.588">e</tspan><tspan x="92.23" y="43.956" fill="#797979" font-family="'Amarillo'" font-size="10.0737px" rotate="48.523">a</tspan><tspan x="97.005" y="49.417" fill="#797979" font-family="'Amarillo'" font-size="10.0737px" rotate="51.146">r</tspan><tspan x="99.207" y="52.084" fill="#797979" font-family="'Amarillo'" font-size="10.0737px" rotate="53.795">n</tspan></text>
        <path d="M-89.21,586.71"/>
        <path fill="none" d="M-41.904,68.501c0,0,12.424-53.092,93.014-53.092c80.59,0,98.051,53.092,98.051,53.092"/>
        <text transform="matrix(0.8325 -0.554 0.554 0.8325 -15.7504 33.5481)"><tspan x="0" y="0" font-family="'Amarillo'" font-size="10.0737px"> </tspan><tspan x="4.909" y="-0.003" font-family="'Amarillo'" font-size="10.0737px" rotate="3.401"> </tspan><tspan x="9.811" y="0.286" font-family="'Amarillo'" font-size="10.0737px" rotate="6.655"> </tspan><tspan x="14.691" y="0.853" font-family="'Amarillo'" font-size="10.0737px" rotate="9.753"> </tspan><tspan x="19.534" y="1.684" font-family="'Amarillo'" font-size="10.0737px" rotate="12.69"> </tspan><tspan x="24.289" y="2.546" font-family="'Amarillo'" font-size="10.0737px" rotate="17.814">D</tspan><tspan x="37.428" y="6.97" font-family="'Amarillo'" font-size="10.0737px" rotate="22.05">r</tspan><tspan x="40.675" y="8.242" font-family="'Amarillo'" font-size="10.0737px" rotate="24.461">a</tspan><tspan x="47.25" y="11.238" font-family="'Amarillo'" font-size="10.0737px" rotate="27.346">g</tspan><tspan x="53.279" y="14.376" font-family="'Amarillo'" font-size="10.0737px" rotate="29.573"> </tspan><tspan x="57.619" y="16.814" font-family="'Amarillo'" font-size="10.0737px" rotate="31.726">a</tspan><tspan x="63.778" y="20.597" font-family="'Amarillo'" font-size="10.0737px" rotate="34.397">n</tspan><tspan x="69.459" y="24.437" font-family="'Amarillo'" font-size="10.0737px" rotate="36.45">d</tspan><tspan x="75.936" y="29.256" font-family="'Amarillo'" font-size="10.0737px" rotate="38.774"> </tspan><tspan x="79.823" y="32.25" font-family="'Amarillo'" font-size="10.0737px" rotate="41.964">L</tspan><tspan x="88.351" y="40.036" font-family="'Amarillo'" font-size="10.0737px" rotate="45.588">e</tspan><tspan x="92.23" y="43.956" font-family="'Amarillo'" font-size="10.0737px" rotate="48.523">a</tspan><tspan x="97.005" y="49.417" font-family="'Amarillo'" font-size="10.0737px" rotate="51.146">r</tspan><tspan x="99.207" y="52.084" font-family="'Amarillo'" font-size="10.0737px" rotate="53.795">n</tspan></text>
    </svg>
</div>

{% endblock %}

{% block body %}
    <div class="account_log">
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <nav class="mb-1 navbar navbar-expand-lg">      
            <ul class="navbar-nav ml-auto nav-flex-icons" id="avatarMenuLogin">
                <li class="nav-item avatar dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-333" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                        <img src="uploads/image/avatar/default2.png" class="rounded-circle z-depth-0" alt="avatar image" height="35">
                    </a>
                    <div class="dropdown-menu dropdown-menu-right dropdown-default" aria-labelledby="navbarDropdownMenuLink-333">
                        <a class="dropdown-item" href="{{ path('levelChoice') }}">Accueil</a>
                        <a class="dropdown-item" href="{{ path('profile') }}">Profil</a>
                        <a class="dropdown-item" href="#">Classement</a>
                        {% if is_granted('ROLE_ADMIN') %}
                            <a class="dropdown-item" href="{{ path('admin') }}">Admin</a>
                        {% endif %}
                            <a class="dropdown-item" href="{{ path('logout') }}">Deconnexion</a>
                    </div>
                </li>
            </ul>
        </nav>
        {% endif %}
    </div>

    <div class="container" id="loginContainer">
        <div class="row opacity_custom bg-dark text-white">
            <div class="col-12 col-md-6 border_custom_1">
                <div class="part_one">
                    <div id="registrate">
                    <h1 class="h3 mb-3 font-weight-normal">Inscription</h1>
                        {% if error %}
                            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                        {% endif %}
                        {{ form_start(registrationForm,
                            {"action": path('app_register')} ) }}

                        {{ form_row(registrationForm.username) }}
                        {{ form_row(registrationForm.plainPassword) }}
                        {{ form_row(registrationForm.email) }}
                            <div class="d-flex justify-content-around">
                                <button class="border border-balise btn btn-dark">S'inscrire</button>
                                {# a #}
                            </div>
                        {{ form_end(registrationForm) }}
                        <div id="connexion">
                            <a href="#"><span class="balise">&lt;Je possède un compte&gt;</span></a>
                        </div>
                    </div>

                    {# LOGIN FORM#}

                    <form method="post" class="hide" id="loginForm">
                        <h1 class="h3 mb-3 font-weight-normal">Connexion</h1>
                        <label for="inputUsername" class="balise">&lt;Username&gt;</label>
                        <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control my-2" placeholder="Username" required autofocus>
                        <label for="inputPassword" class="balise">&lt;Password&gt;</label>
                        <input type="password" name="password" id="inputPassword" class="form-control my-2" placeholder="Password" required>
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                        <div class="checkbox mb-3">
                            {#<label>#}
                                {#<input class="balise" type="checkbox" name="_remember_me">Se souvenir de moi#}
                            {#</label>#}
                        </div>
                        <button class="border border-balise btn btn-dark" type="submit">
                            Connexion
                        </button>
                        <div class="mt-3">
                            <a class="balise" href="{{ path('app_forgotten_password') }}">&lt;Mot de passe oublié&gt;</a>
                        </div>
                        <div class="mt-3">
                            <a id="createAccount" class="balise" href="#">&lt;Creer un compte&gt;</a>
                        </div>
                    </form>

                    {#******************#}
                </div>                                   
            </div>
            <div class="col-12 col-md-6 col-12 col-md-6 d-flex flex-column justify-content-between">
                <div class="part_two">
                    <div class="">
                        <p id="aupif"><span class="balise">&lt;p&gt;</span>Avec Drag & Learn, <strong>apprenez</strong> les <strong>langages</strong> de base du dévelloppement Web !
                            Structurez vos pages grâce au <strong>HTML5</strong>, donnez leurs du style grâce au <strong>CSS3</strong> et faites profitez à vos utilisateurs
                            d'experiences ludiques et pratiques grâce au <strong>JAVASCRIPT</strong>
                            <br>
                            Plusieurs niveaux de 10 exercices où il suffit de faire glisser le bon morceau de code, au bon endroit, pour afficher immediatement le fruit
                            de votre travail.
                            <br>
                            Pour vous accompagner, une leçon sur chaque thème abordé par les exercices, des liens vers une documentation et même une solution animé en cas de coup dur !
                            <br>
                            <strong>Apprenez</strong> en vous amusant et partagez vos succés et meilleurs temps avec vos amis ! Essayez, le tutoriel ne necessite pas d'inscription !<span class="balise">&lt;/p&gt;</span>
                        </p>
                    </div>
                </div>
                <div class="d-flex justify-content-around">
                    <a href="{{ path('tutoriel') }}" class="border border-balise btn btn-dark">Essayer le tutoriel</a>
                </div>
            </div>
        </div>
        <div class="row ">
            <div class="col-8 offset-2 ">
                <div class="justify-content-center text-center mt-4">
                    <video src="{{asset('uploads/video/accueil.mp4')}}" autoplay controls loop preload="metadata" height="300px"></video>
                    {#<iframe class="video_player" width="550" height="300" src="https://www.youtube.com/embed/wYT1Qq6mo4I" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>#}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}

<script >
        $('#connexion').on('click', (e) =>{
               e.preventDefault();
            $('#loginForm').show();
            $('#registrate').hide();
        });

        $('#createAccount').on('click', (e) =>{
            $('#loginForm').hide();
            $('#registrate').show();
        });
</script>

{% endblock %}