{% extends 'base.html.twig' %}

{% block stylesheets %}<link rel="stylesheet" href="{{ asset('css/profile/profile.css') }}">{% endblock %}



{% block body %}
<h2 class="text-center">Mon profil</h2>


<div class="container-fluid">

    {# grosse row principale #}
    <div class="row" id="bigRow">

        {# colonne gauche #}
        <div class="col-12 col-md-8" id="gain">

            {# user #}
            <div class="row" id="userTitle">
                <h3>
                 <img src="{{ asset('uploads/image/avatar/' ~ user.avatar) }}" class="w-25">
                    <span id="userName">{{ user.username }}</span>
                    <form action="">

                    </form>
                    <i class="fas fa-pen" id="nameUpdate"></i>
                </h3>
            </div>

            {# trophées #}
            <div class="row">
                <div class="col-md-2">
                    <div class="trophy"></div>
                </div>
                <div class="col-md-2">
                    <div class="trophy"></div>
                </div>
                <div class="col-md-2">
                    <div class="trophy"></div>
                </div>
                <div class="col-md-2">
                    <div class="trophy"></div>
                </div>
                <div class="col-md-2">
                    <div class="trophy"></div>
                </div>
                <div class="col-md-2">
                    <div class="trophy"></div>
                </div>
            </div>

            <div class="row my-5">
                <div class="col-md-2">
                    <div class="trophy"></div>
                </div>
                <div class="col-md-2">
                    <div class="trophy"></div>
                </div>
                <div class="col-md-2">
                    <div class="trophy"></div>
                </div>
                <div class="col-md-2">
                    <div class="trophy"></div>
                </div>
                <div class="col-md-2">
                    <div class="trophy"></div>
                </div>
                <div class="col-md-2">
                    <div class="trophy"></div>
                </div>
            </div>

            <h3 id="perf">Performances</h3>

            <div class="row justify-content-around">
                {% for tab in exerciceByLevel %}
                    <div class="col-4">
                        <table class="table table-striped">
                            <thead>
                            <th class="text-center" scope="col">exercices</th>
                            <th class="text-center" scope="col">Temps</th>
                            </thead>
                            <tbody>
                            {% for exercice in tab %}
                                <tr>
                                    <td class="text-center">{{ exercice.exoNumber + 1 }}</td>
                                    <td class="text-center">{{ exercice.time }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% endfor %}
            </div>

        </div>

        {# colonne droite formulaire modif #}
        <div class="col-12 col-md-4">

            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div class="alert alert-{{ label }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}

            <div class="row" id="modifTitle">
                <h3 class="m-auto">Modifier son profil</h3>
            </div>


            {{ form_start(userPassForm) }}
            <div class="form-group w-50 m-auto">
                <label>Mot de passe actuel</label>
                <input type="password" name="mdpActu" class="form-control">
            </div>
            {{ form_widget(userPassForm, {'attr': {'class' : 'w-50 m-auto'}})}}
            <div class="text-center my-4">
                <button class="balise border border-balise btn btn-dark" type="submit">Modifier</button>
            </div>
            {{ form_end(userPassForm) }}

            <hr>

            <div id="theme" class="text-center">
                <h3>Thème couleur</h3>

                <div class="row justify-content-center mx-3">
                    {% for choice in theme %}
                        <div class="d-flex flex-column mx-3">
                          <div class="choice bg-{{ choice.color }} my-3"></div>
                          <input type="radio" class="m-auto">
                        </div>
                    {% endfor %}
                </div>
            </div>





        </div>

    </div>

</div>
{% endblock %}

