{% extends 'base.html.twig' %}

{% block stylesheets %}<link rel="stylesheet" href="{{ asset('css/profile/profile.css') }}">{% endblock %}



{% block body %}
<h2 class="text-center">Mon profil</h2>


<div class="container-fluid">

    {# grosse row principale #}
    <div class="row" id="bigRow">

        {# colonne gauche #}
        <div class="col-12 col-md-8" id="gain">

            {# user #}
            <div class="row" id="userTitle">
                <div class="col-12 d-flex align-items-center">
                    <img class="rounded-circle" src="{{ asset('uploads/image/avatar/' ~ user.avatar) }}" id="avatar">
                    <span id="userName" class="">{{ user.username }}</span>
                    <div class="hide w-50" id="formName">
                        <input type="text" class="bg-transparent border-light" id="newUsername" value="{{ user.username }}">
                    </div>
                    <i class="fas fa-pen" id="nameUpdate"></i>
                    <input class="hide" type="file" id="file" name="file" multiple />
                </div>
            </div>





            {# trophées #}
            <div class="row">
                <div class="col-md-2 text-center">
                    <img src="{{ asset('uploads/image/trophy/trophy_one.png') }}" alt="">
                </div>
                <div class="col-md-2">
                    <div class="trophy"></div>
                </div>
                <div class="col-md-2">
                    <div class="trophy"></div>
                </div>
                <div class="col-md-2">
                    <div class="trophy"></div>
                </div>
                <div class="col-md-2">
                    <div class="trophy"></div>
                </div>
                <div class="col-md-2">
                    <div class="trophy"></div>
                </div>
            </div>

            <h3 id="perf">Performances</h3>

            <div class="row justify-content-around">
                {% for tab in exerciceByLevel %}
                    <div class="col-4">
                        <table class="table table-striped">
                            <thead>
                            <th class="text-center" scope="col">exercices</th>
                            <th class="text-center" scope="col">Temps</th>
                            </thead>
                            <tbody>
                            {% for exercice in tab %}
                                <tr>
                                    <td class="text-center">{{ exercice.exoNumber + 1 }}</td>
                                    <td class="text-center">{{ exercice.time }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% endfor %}
            </div>
        </div>

        {# colonne droite formulaire modif #}
        <div class="col-12 col-md-4">

            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div class="alert alert-{{ label }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}

            <div class="row" id="modifTitle">
                <h3 class="m-auto">Modifier son profil</h3>
            </div>


            {{ form_start(userPassForm) }}
            <div class="form-group w-50 m-auto">
                <label>Mot de passe actuel</label>
                <input type="password" name="mdpActu" class="form-control">
            </div>
            {{ form_widget(userPassForm, {'attr': {'class' : 'w-50 m-auto'}})}}
            <div class="text-center my-4">
                <button class="balise border border-balise btn btn-dark" type="submit">Modifier</button>
            </div>
            {{ form_end(userPassForm) }}

            <hr>

            <div id="theme" class="text-center">
                <h3>Thème couleur</h3>

                <div class="row justify-content-center mx-3">
                    {% for choice in theme %}
                        <div class="d-flex flex-column mx-3">
                          <div class="choice bg-{{ choice.color }} my-3"></div>
                          <input type="radio" class="m-auto">
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
<script>

    $(function(){

        $('#nameUpdate').click(() =>{

            $('#formName').show();
            $('#userName').hide();

        });

        $('#newUsername').focus(()=>{
            window.addEventListener('keydown',(e) => {
                if (e['key'] === 'Enter') {

                    let username = $('#newUsername').val();

                    $.ajax({
                        type: 'POST',
                        url: '{{ path("ajaxProfileUsername") }}',
                        data: {'username': username, 'user': '{{ app.user.id }}'},
                        timeout: 8000,
                        dataType: 'html',
                        success: function (data) {
                            console.log(data);
                            $('#userName').html(data);
                            $('#formName').hide();
                            $('#userName').show();
                        },
                        error: function (error) {
                            console.log(error)
                        }
                    });

                }
            })
        });

        //***********************************GESTION UPDATE AVATAR*************************//

        $('#avatar').on('click', () =>{
            $('#file').trigger('click');
        });

        $('#file').on('change', function () {
            files = event.target.files;
            event.stopPropagation(); // Stop stuff happening
            event.preventDefault(); // Totally stop stuff happening
            //Create a formdata object and add the files
            var data = new FormData();
            $.each(files, function(key, value) {
                data.append(key, value);
            });

            $.ajax({
                url: '{{ path("ajaxProfileAvatar") }}',
                type: 'POST',
                data: data,
                cache: false,
                dataType: 'html',
                processData: false, // Don't process the files
                contentType: false, // Set content type to false as jQuery will tell the server its a query string request
                success: function(data) {

                    $('#avatar').attr('src', "uploads/image/avatar/"+data);
                },
                error: function(jqXHR, textStatus, errorThrown) {
                    //Handle errors here
                    alert('ERRORS: ' + textStatus);
                }
            });
        });

        //*********************************************************************************//
        //*********************************************************************************//

    })

</script>
{% endblock %}


