{% extends 'base.html.twig' %}

{% block title %}
Classement
{% endblock %}

{% block progressBar %}
{% endblock %}

{% block body %}
	<div class="container pt-3">
		<div class="row">
			{% set i = 0 %}
			{% for level in topTen %}
				{% set i = i + 1 %}
				<div class="col-4">
					<table class="table table-striped">
						<h3 class="text-center">Niveau {{ i }}</h3>
							<thead>
								<th class="text-center" scope="col">Exercice</th>
								<th class="text-center" scope="row" colspan="2">Learner</th>
								<th class="text-center" scope="col">Temps</th>
							</thead>
						<tbody>
						{% for exercice in level %}
							<tr

								{% if exercice.username == app.user.username %}
								style="background: gold"
								{% endif %}
							>
								<td class="text-center">
									{{ exercice.number + 1 }}
								</td>
								<td class="text-center">
									<img class="rounded-circle" src="{{ asset('uploads/image/avatar/'~exercice.avatar) }}" alt="avatar" width="30px" height="30px">
								</td>
								<td class="text-center">
									{{ exercice.username }}
								</td>
								<td class="text-center">
									{{ exercice.time }}
								</td>
							</tr>
						{% endfor %}
						</tbody>
					</table>
				</div>
			{% endfor %}
		</div>
	</div>
<br>
<br>
{% endblock %}
