{% extends 'base.html.twig' %}

{% block title %}Choix du niveau{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href={{ asset("css/levelChoice.css") }}>
    {# LIBRARY #}
    <link rel="stylesheet" href={{ asset("lib/swipper/dist/css/swiper.min.css") }}>
{% endblock %}

{% block body %}
<div class="blockLevelChoice">
    <div class="row">
        <div class="col-md-1 bg-light py-4 border-right border-dark"></div>
        <div class="col-md-11 py-4"></div>
    </div>
    <div class="row levelChoice">
        <div class="col-md-1 bg-light">
            <div class="row code-name">
                <div class="col-12 d-flex justify-content-center align-items-center">
                    <i class="fab fa-html5"></i>
                </div>
            </div>
            <div class="row code-name">
                <div class="col-12 d-flex justify-content-center align-items-center">
                    <i class="fab fa-css3-alt"></i>
                </div>
            </div>
            <div class="row code-name">
                <div class="col-12 d-flex justify-content-center align-items-center">
                    <i class="fab fa-js-square"></i>
                </div>
            </div>
        </div>
        <div class="col-md-11">
            {# LEVEL 1 #}
            <div class="row level">
                <div class="col-12">
                    <div class="row">
                        <div class="col-12">
                            <h2>
                                <svg height="10" width="100px">
                                    <line x1="0" y1="0" x2="250" style="stroke:rgb(0,0,0);stroke-width:2" />
                                </svg>
                                <span style="color: orangered">HTML</span>
                                <svg height="2" width="100px">
                                    <line x1="0" y1="0" x2="250" style="stroke:rgb(0,0,0);stroke-width:2" />
                                </svg>
                            </h2>
                        </div>
                    </div>
                    <div class="row">
                        {# SLIDER #}
                        <div class="col-12">
                            <div class="swiper-container">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <a href="{{ path('exercice', {"slug":'html-exercice1'}) }}">
                                            <div class="gif-slide" style="background-image: url({{ asset('uploads/image/ExThumbnails/html1.png') }}); background-size: cover">div/span/p</div>
                                        </a>
                                    </div>
                                    {% if last_exercice is same as(null) %}
                                        {% set exercice = -1 %}
                                        {% set niveau = 1 %}
                                    {% else %}
                                        {% set exercice = last_exercice.2 %}
                                        {% set niveau = last_exercice.1 %}
                                    {% endif %}
                                    <div class="swiper-slide">
                                        <a href="{{ path('exercice', {"slug":'html-exercice2'}) }}">
                                            {% if (exercice >= 0 and niveau >=1) or niveau >=2%}
                                                <div class="gif-slide" style="background-image: url({{ asset('uploads/image/ExThumbnails/html2.png') }}); background-size: cover">h1/br/hr</div>
                                            {% else %}
                                                <div class="gif-slide" style="background-image: url({{ asset('uploads/image/ExThumbnails/html2.png') }}); background-size: cover; opacity: 0.2">h1/br/hr</div>
                                            {% endif %}
                                        </a>
                                    </div>
                                    <div class="swiper-slide">
                                        <a href="{{ path('exercice', {"slug":'html-exercice3'}) }}">
                                            {% if (exercice >= 1 and niveau >=1) or niveau >=2%}
                                                <div class="gif-slide" style="background-image: url({{ asset('uploads/image/ExThumbnails/html3.png') }}); background-size: cover">a/button</div>
                                            {% else %}
                                                <div class="gif-slide" style="background-image: url({{ asset('uploads/image/ExThumbnails/html3.png') }}); background-size: cover; opacity: 0.2">a/button</div>
                                            {% endif %}
                                        </a>
                                    </div>
                                    <div class="swiper-slide">
                                        <a href="{{ path('exercice', {"slug":'html-exercice4'}) }}">
                                            {% if (exercice >= 2 and niveau >=1) or niveau >=2%}
                                                <div class="gif-slide" style="background-image: url({{ asset('uploads/image/ExThumbnails/html4.png') }}); background-size: cover">img</div>
                                            {% else %}
                                                <div class="gif-slide" style="background-image: url({{ asset('uploads/image/ExThumbnails/html4.png') }}); background-size: cover; opacity: 0.2">img</div>
                                            {% endif %}
                                        </a>
                                    </div>
                                    <div class="swiper-slide">
                                        <a href="{{ path('exercice', {"slug":'html-exercice5'}) }}">
                                            {% if (exercice >= 3 and niveau >=1) or niveau >=2%}
                                                <div class="gif-slide" style="background-image: url({{ asset('uploads/image/ExThumbnails/html5.png') }}); background-size: cover">ol/ul</div>
                                            {% else %}
                                                <div class="gif-slide" style="background-image: url({{ asset('uploads/image/ExThumbnails/html5.png') }}); background-size: cover; opacity: 0.2">ol/ul</div>
                                            {% endif %}
                                        </a>
                                    </div>
                                    <div class="swiper-slide">
                                        <a href="{{ path('exercice', {"slug":'html-exercice6'}) }}">
                                            {% if (exercice >= 4 and niveau >=1) or niveau >=2%}
                                                <div class="gif-slide" style="background-image: url({{ asset('uploads/image/ExThumbnails/html6.png') }}); background-size: cover">table</div>
                                            {% else %}
                                                <div class="gif-slide" style="background-image: url({{ asset('uploads/image/ExThumbnails/html6.png') }}); background-size: cover; opacity: 0.2">table</div>
                                            {% endif %}
                                        </a>
                                    </div>
                                    <div class="swiper-slide">
                                        <a href="{{ path('exercice', {"slug":'html-exercice7'}) }}">
                                            {% if (exercice >= 5 and niveau >=1) or niveau >=2%}
                                                <div class="gif-slide" style="background-image: url({{ asset('uploads/image/ExThumbnails/html7.png') }}); background-size: cover">form</div>
                                            {% else %}
                                                <div class="gif-slide" style="background-image: url({{ asset('uploads/image/ExThumbnails/html7.png') }}); background-size: cover; opacity: 0.2">form</div>
                                            {% endif %}
                                        </a>
                                    </div>
                                    <div class="swiper-slide">
                                        <a href="{{ path('exercice', {"slug":'html-exercice8'}) }}">
                                            {% if (exercice >= 6 and niveau >=1) or niveau >=2%}
                                                <div class="gif-slide" style="background-image: url({{ asset('uploads/image/ExThumbnails/html8.png') }}); background-size: cover">multi 1</div>
                                            {% else %}
                                                <div class="gif-slide" style="background-image: url({{ asset('uploads/image/ExThumbnails/html8.png') }}); background-size: cover; opacity: 0.2">multi 1</div>
                                            {% endif %}
                                        </a>
                                    </div>
                                    <div class="swiper-slide">
                                        <a href="{{ path('exercice', {"slug":'html-exercice9'}) }}">
                                            {% if (exercice >= 7 and niveau >=1) or niveau >=2%}
                                                <div class="gif-slide" style="background-image: url({{ asset('uploads/image/ExThumbnails/html9.png') }}); background-size: cover">multi 2</div>
                                            {% else %}
                                                <div class="gif-slide" style="background-image: url({{ asset('uploads/image/ExThumbnails/html9.png') }}); background-size: cover; opacity: 0.2">multi 2</div>
                                            {% endif %}
                                        </a>
                                    </div>
                                    <div class="swiper-slide">
                                        <a href="{{ path('exercice', {"slug":'html-exercice10'}) }}">
                                            {% if (exercice >= 8 and niveau >=1) or niveau >=2%}
                                                <div class="gif-slide" style="background-image: url({{ asset('uploads/image/ExThumbnails/html10.png') }}); background-size: cover">CV</div>
                                            {% else %}
                                                <div class="gif-slide" style="background-image: url({{ asset('uploads/image/ExThumbnails/html10.png') }}); background-size: cover; opacity: 0.2">CV</div>
                                            {% endif %}
                                        </a>
                                    </div>
                                </div>
                                <!-- Add Pagination -->
                                <div class="swiper-pagination"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {# LEVEL 2 #}
            <div class="row level">
                <div class="col-12">
                    <div class="row">
                        <div class="col-12">
                            <h2>
                                <svg height="10" width="100px">
                                    <line x1="0" y1="0" x2="250" style="stroke:rgb(0,0,0);stroke-width:2" />
                                </svg>
                                <span style="color:orangered">HTML</span> : <span style="color:#007bff">CSS</span>
                                <svg height="2" width="100px">
                                    <line x1="0" y1="0" x2="250" style="stroke:rgb(0,0,0);stroke-width:2" />
                                </svg>
                            </h2>
                        </div>
                    </div>
                    <div class="row">
                        {# SLIDER #}
                        <div class="col-12">
                            <div class="swiper-container">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <a href="{{ path('exercice', {"slug":'html-css-exercice1'}) }}">
                                            {% if (exercice == 9 and niveau == 1) or niveau >= 2 %}
                                                <div class="gif-slide" style="background-image: url({{ asset('uploads/image/ExThumbnails/css1.png') }}); background-size: cover">class/id</div>
                                            {% else %}
                                                <div class="gif-slide" style="background-image: url({{ asset('uploads/image/ExThumbnails/css1.png') }}); background-size: cover; opacity: 0.2">class/id</div>
                                            {% endif %}
                                        </a>
                                    </div>
                                    <div class="swiper-slide">
                                        <a href="{{ path('exercice', {"slug":'html-css-exercice2'}) }}">
                                            {% if (exercice >= 0 and niveau >=2) or niveau >=3%}
                                                <div class="gif-slide" style="background-image: url({{ asset('uploads/image/ExThumbnails/css2.png') }}); background-size: cover">select</div>
                                            {% else %}
                                                <div class="gif-slide" style="background-image: url({{ asset('uploads/image/ExThumbnails/css2.png') }}); background-size: cover; opacity: 0.2">select</div>
                                            {% endif %}
                                        </a>
                                    </div>
                                    <div class="swiper-slide">
                                        <a href="{{ path('exercice', {"slug":'html-css-exercice3'}) }}">
                                            {% if (exercice >= 1 and niveau >=2) or niveau >=3%}
                                                <div class="gif-slide" style="background-image: url({{ asset('uploads/image/ExThumbnails/css3.png') }}); background-size: cover">color</div>
                                            {% else %}
                                                <div class="gif-slide" style="background-image: url({{ asset('uploads/image/ExThumbnails/css3.png') }}); background-size: cover; opacity: 0.2">color</div>
                                            {% endif %}
                                        </a>
                                    </div>
                                    <div class="swiper-slide">
                                        <a href="{{ path('exercice', {"slug":'html-css-exercice4'}) }}">
                                            {% if (exercice >= 2 and niveau >=2) or niveau >=3%}
                                                <div class="gif-slide" style="background-image: url({{ asset('uploads/image/ExThumbnails/css4.png') }}); background-size: cover">font</div>
                                            {% else %}
                                                <div class="gif-slide" style="background-image: url({{ asset('uploads/image/ExThumbnails/css4.png') }}); background-size: cover; opacity: 0.2">font</div>
                                            {% endif %}
                                        </a>
                                    </div>
                                    <div class="swiper-slide">
                                        <a href="{{ path('exercice', {"slug":'html-css-exercice5'}) }}">
                                            {% if (exercice >= 3 and niveau >=2) or niveau >=3%}
                                                <div class="gif-slide" style="background-image: url({{ asset('uploads/image/ExThumbnails/css5.png') }}); background-size: cover">border</div>
                                            {% else %}
                                                <div class="gif-slide" style="background-image: url({{ asset('uploads/image/ExThumbnails/css5.png') }}); background-size: cover; opacity: 0.2">border</div>
                                            {% endif %}
                                        </a>
                                    </div>
                                    <div class="swiper-slide">
                                        <a href="{{ path('exercice', {"slug":'html-css-exercice6'}) }}">
                                            {% if (exercice >= 4 and niveau >=2) or niveau >=3%}
                                                <div class="gif-slide" style="background-image: url({{ asset('uploads/image/ExThumbnails/css6.png') }}); background-size: cover">margin</div>
                                            {% else %}
                                                <div class="gif-slide" style="background-image: url({{ asset('uploads/image/ExThumbnails/css6.png') }}); background-size: cover; opacity: 0.2">margin</div>
                                            {% endif %}
                                        </a>
                                    </div>
                                    <div class="swiper-slide">
                                        <a href="{{ path('exercice', {"slug":'html-css-exercice7'}) }}">
                                            {% if (exercice >= 5 and niveau >=2) or niveau >=3%}
                                                <div class="gif-slide" style="background-image: url({{ asset('uploads/image/ExThumbnails/css7.png') }}); background-size: cover">width</div>
                                            {% else %}
                                                <div class="gif-slide" style="background-image: url({{ asset('uploads/image/ExThumbnails/css7.png') }}); background-size: cover; opacity: 0.2">width</div>
                                            {% endif %}
                                        </a>
                                    </div>
                                    <div class="swiper-slide">
                                        <a href="{{ path('exercice', {"slug":'html-css-exercice8'}) }}">
                                            {% if (exercice >= 6 and niveau >=2) or niveau >=3%}
                                                <div class="gif-slide" style="background-image: url({{ asset('uploads/image/ExThumbnails/css8.png') }}); background-size: cover">background</div>
                                            {% else %}
                                                <div class="gif-slide" style="background-image: url({{ asset('uploads/image/ExThumbnails/css8.png') }}); background-size: cover; opacity: 0.2">background</div>
                                            {% endif %}
                                        </a>
                                    </div>
                                    <div class="swiper-slide">
                                        <a href="{{ path('exercice', {"slug":'html-css-exercice9'}) }}">
                                            {% if (exercice >= 7 and niveau >=2) or niveau >=3%}
                                                <div class="gif-slide" style="background-image: url({{ asset('uploads/image/ExThumbnails/css9.png') }}); background-size: cover">position</div>
                                            {% else %}
                                                <div class="gif-slide" style="background-image: url({{ asset('uploads/image/ExThumbnails/css9.png') }}); background-size: cover; opacity: 0.2">position</div>
                                            {% endif %}
                                        </a>
                                    </div>
                                    <div class="swiper-slide">
                                        <a href="{{ path('exercice', {"slug":'html-css-exercice10'}) }}">
                                            {% if (exercice >= 8 and niveau >=2) or niveau >=3%}
                                                <div class="gif-slide" style="background-image: url({{ asset('uploads/image/ExThumbnails/css10.png') }}); background-size: cover">Batman</div>
                                            {% else %}
                                                <div class="gif-slide" style="background-image: url({{ asset('uploads/image/ExThumbnails/css10.png') }}); background-size: cover; opacity: 0.2">Batman</div>
                                            {% endif %}
                                        </a>
                                    </div>
                                </div>
                                <!-- Add Pagination -->
                                <div class="swiper-pagination"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {# LEVEL 3 #}
            <div class="row level">
                <div class="col-12">
                    <div class="row">
                        <div class="col-12">
                            <h2>
                                <svg height="10" width="100px">
                                    <line x1="0" y1="0" x2="250" style="stroke:rgb(0,0,0);stroke-width:2" />
                                </svg>
                                <span style="color:orangered">HTML</span> : <span style="color:#007bff">CSS</span> : <span style="color:#dbc608">JS</span>
                                <svg height="2" width="100px">
                                    <line x1="0" y1="0" x2="250" style="stroke:rgb(0,0,0);stroke-width:2" />
                                </svg>
                            </h2>
                        </div>
                    </div>
                    <div class="row">
                        {# SLIDER #}
                        <div class="col-12">
                            <div class="swiper-container">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <div class="gif-slide">À venir</div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="gif-slide">À venir</div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="gif-slide">À venir</div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="gif-slide">À venir</div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="gif-slide">À venir</div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="gif-slide">À venir</div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="gif-slide">À venir</div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="gif-slide">À venir</div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="gif-slide">À venir</div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="gif-slide">À venir</div>
                                    </div>
                                </div>
                                <!-- Add Pagination -->
                                <div class="swiper-pagination"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
{% block javascripts %}
    <!-- Swiper JS -->
    <script src={{ asset("lib/swipper/dist/js/swiper.min.js") }}></script>

    <!-- Initialize Swiper -->
    <script>
        let swiper = new Swiper('.swiper-container', {
            slidesPerView: 4,
            centeredSlides: false,
            spaceBetween: 30,
            grabCursor: true,
            pagination: {
                el: '.swiper-pagination',
                clickable: true,
            },
        });
    </script>
{% endblock %}
