<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Drag & Learn{% endblock %}</title>
    {# FONT AWESOME #}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">
    <link rel="stylesheet" href={{ asset("css/app.css") }}>
    {% block stylesheets %}{% endblock %}

</head>

{% block header %}
<header>
    <!--Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-{{ defaut_theme.theme }} ">

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-333"
                aria-controls="navbarSupportedContent-333" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse pt-3" id="navbarSupportedContent-333">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a id="siteName" class="nav-link" href="{{ path('levelChoice') }}">Drag & Learn
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto nav-flex-icons align-items-center">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-333" data-toggle="dropdown" aria-haspopup="true"
                       aria-expanded="false">
                        <img src="{{ asset('uploads/image/avatar/default.png') }}" class="rounded-circle z-depth-0" alt="avatar image" height="35">
                    </a>
                    <div class="dropdown-menu dropdown-menu-right dropdown-default" aria-labelledby="navbarDropdownMenuLink-333">
                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        <a class="dropdown-item" href="{{ path('levelChoice') }}">Accueil</a>
                        <a class="dropdown-item" href="{{ path('profile') }}">Profil</a>
                        <a class="dropdown-item" href="{{ path('classement') }}">Classement</a>
                        {% endif %}
                        {% if is_granted('ROLE_ADMIN') %}
                        <a class="dropdown-item" href="{{ path('admin') }}">Admin</a>
                        {% endif %}

                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        <a class="dropdown-item" href="{{ path('logout') }}">Deconnexion</a>
                        {% else %}
                        <a class="dropdown-item" href="{{ path('app_login') }}">Connexion</a>
                        {% endif %}
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container-fluid">
        {% block progressBar %}
        <div class="col12">
            <div class="row bg-dark text-white">
                <div class="col-12 d-flex justify-content-around align-items-center">
                    {% set progress = last_exercice.2 * 10 %}
                    <p class="my-2">
                        Nom : <span class="px-2">{{ app.user.username }}</span>
                        <span class="px-2"> Niveau : </span><span class="px-2">{{ last_exercice.1 }}</span>
                        Exercice : <span class="px-2">{{ last_exercice.2 + 1 }}/10</span>
                    </p>
                    <div class="progress" id="progress">
                        <div id="bar" class="progress-bar bg-success" role="progressbar" style="width: {{ progress }}%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <i class="fas fa-trophy"></i>
                </div>
            </div>
        </div>
        {% endblock %}
    </div>
</header>

{% endblock %}

<body>
{% block body %}
{% endblock %}

{% block footer %}
<footer class="footer_general bg-dark text-white">
    <div class="container">
        <div class="row text-center">
            <div class="col-12 col-md-4">
                <div class="text-center">
                    <br>
                    <span>Mentions legales</span><br>
                    <span>Contact</span><br>
                    <br>
                    <i class="fas fa-envelope-square"></i><br>
                    <span>draglearn@gmail.com</span>
                    <br>
                    <i class="fas fa-building"></i><br>
                    <span>66 rue abbé de l'épée</span>
                    <br>
                    <i class="fas fa-mobile-alt"></i><br>
                    <span>06 66 66 66 66</span>                           
                </div>
            </div>
            <div class="col-12 col-md-4">
                <ul>
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                            <a class="dropdown-item_custom" href="{{ path('levelChoice') }}">Accueil</a>
                            <a class="dropdown-item_custom " href="{{ path('profile') }}">Profil</a>
                            <a class="dropdown-item_custom" href="{{ path('classement') }}">Classement</a>
                        {% endif %}
                        {% if is_granted('ROLE_ADMIN') %}
                            <a class="dropdown-item_custom" href="{{ path('admin') }}">Admin</a>
                        {% endif %}

                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                            <a class="dropdown-item_custom" href="{{ path('logout') }}">Deconnexion</a>
                        {% else %}
                            <a class="dropdown-item_custom" href="{{ path('app_login') }}" id="connexion">Connexion</a>
                        {% endif %}
                    <li><i class="fab fa-facebook-square"></i>  <i class="fab fa-twitter-square"></i></li>
                </ul>
            </div>
            <div class="col-12 col-md-4">
                <ul>
                    <li>Michaël</li>
                    <li>Benjamin</li>
                    <li>Christophe</li>
                    <li>Clément</li>
                    <li>Rémi</li>
                </ul>
            </div>
        </div>
    </div>
</footer>
{% endblock %}



<script src="{{ asset('js/jQuery_v3.3.1.js') }}"></script>
<script src="{{ asset('js/jquery-ui.js') }}"></script>
<script src="{{ asset('js/bootstrap.js') }}"></script>
{% block javascripts %}{% endblock %}
</body>
</html>
