<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Drag & Learn{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">
    {% block stylesheets %}{% endblock %}
</head>

{% block header %}{% endblock %}
<body>
{% for label, messages in app.flashes %}
    {% for message in messages %}
        <div class="alert alert-{{ label }}">
            {{ message }}
        </div>
    {% endfor %}
{% endfor %}

{% block body %}
{% endblock %}
<script src="{{ asset('js/jQuery_v3.3.1.js') }}"></script>
<script src="{{ asset('js/jquery-ui.js') }}"></script>
<script src="{{ asset('js/bootstrap.js') }}"></script>
{% block javascripts %}{% endblock %}
</body>
</html>
