{% extends 'exercice/html.html.twig' %}

{% block perso_css %}<link rel="stylesheet" href="{{ asset('css/niveaux/1/n1e10.css') }}">{% endblock %}

{% block lecons %}
{# TODO
    consigne : Dans cet exercice vous allez devoir mettre en application TOUTES les compétences acquises dans les exercices HTML précédents
 #}

 <div>
     <ul class="text-white">
        <br>
         <li>Dans cet exercice vous pouvez constater une nouveauté, l'attribut <span class="baliseCss">style</span> qui permet d'ajouter du CSS 'inline'. Cependant cette methode est a proscrire et se fera le plus souvent dans une feuille de style a part , vous aborderez ce sujet lors du prochain niveau. </li>
         <br>
         <li>La syntaxe de l'attribut <span class="baliseCss">style</span> est similaire à celle que vous retrouverez dans une feuille CSS. </li>
         <br>
         
     </ul>
 </div>

{# TODO 
    astuce : -> 
  #}

{% endblock %}

{% block astuces %}
<p>
 Les Etudes et Formations sont sous forme de liste non ordonnées
    <br>
 Respectez le format d'un CV, les dates sont en ordre decroissantes, sautez des ligne entre chaque !
    <br>
    Mettez les titres en bleu 1d8dc0 !
</p>
{% endblock %}

{% block solution %}
    <div class="row">
        <div class="col-6">
            <img src="{{ asset('uploads/solutions/n1e10.png')}}" width="100%" alt="solution">
        </div>
        <div class="col-6">
            <img src="{{ asset('uploads/solutions/n1e10_2.png')}}" width="100%" alt="solution">
        </div>
    </div>
{% endblock %}

{% block elements %}
    <div class="draggable text-center" data-id="1" id="draggable1">
        <span class="baliseCss">style=</span><span class="propCss">"font-size:50px"</span>
    </div>

    <div class="draggable text-center" data-id="2" id="draggable2">
        <span class="balise">&lt;img
            <span class="baliseCss">src=</span>
            <span class="baliseTxt">"image/photocv.jpg"</span>
            <span class="baliseCss">alt=</span>
            <span class="baliseTxt">"photoCv"</span>
            <span class="balise">&gt;</span>
        </span>
    </div>

    <div class="draggable text-center" data-id="3" id="draggable3">
        <span class="balise">&lt;span&gt;<input id="nameUser" type="text" placeholder="votre nom...">&lt;/span&gt;</span>
    </div>

    <div class="draggable text-center" data-id="4" id="draggable4">
        <span class="baliseCss">href=</span><span class="baliseTxt">"www.google.fr"</span>
    </div>

    <div class="draggable text-center" data-id="5" id="draggable5">
        <span class="balise">&lt;span&gt;<input id="dateUser" type="text" placeholder="date">&lt;/span&gt;</span>
    </div>

    <div class="draggable text-center" data-id="6" id="draggable6">
        <span class="balise">&lt;p&gt;</span>Avenue des Peupliers - 31000 TOULOUSE
        <span class="balise">&lt;br&gt;</span>
        06 53 26 59 85
        <span class="balise">&lt;br&gt;</span>
        dacourt.brice@gmail.com <span class="balise">&lt;/p&gt;</span>
    </div>

    <div class="draggable text-center color" data-id="7" id="draggable7">
        <span class="baliseCss">style=</span><span class="propCss">"color:#1d8dc0"</span>
    </div>

    <div class="draggable text-center" data-id="8" id="draggable8">
        <span class="balise">&lt;ul&gt;</span>
    </div>

    <div class="draggable text-center" data-id="9" id="draggable9">
        <span class="balise">&lt;li&gt;</span>2014-2016 : BSC Construction Management à la Sheffield University<span class="balise">&lt;li&gt;</span>
    </div>

    <div class="draggable text-center br" data-id="10" id="draggable10">
        <span class="balise">&lt;br&gt;</span>
    </div>

    <div class="draggable text-center" data-id="11" id="draggable11">
        <span class="balise">&lt;li&gt;</span>2012-2014 : DUT génie civil à l'IUT Michel Montaigne de Montpellier<span class="balise">&lt;li&gt;</span>
    </div>

    <div class="draggable text-center br" data-id="12" id="draggable12">
        <span class="balise">&lt;br&gt;</span>
    </div>

    <div class="draggable text-center" data-id="13" id="draggable13">
        <span class="balise">&lt;li&gt;</span>2008-2012 : Bac scientifique section internationale anglais<span class="balise">&lt;li&gt;</span>
    </div>

    <div class="draggable text-center" data-id="14" id="draggable14">
        <span class="balise">&lt;/ul&gt;</span>
    </div>

    <div class="draggable text-center" data-id="30" id="draggable30">
        <span class="balise">&lt;header&gt;</span>
    </div>

    <div class="draggable text-center" data-id="31" id="draggable31">
        <span class="balise">&lt;/header&gt;</span>
    </div>

    <div class="draggable text-center color" data-id="15" id="draggable15">
        <span class="baliseCss">style=</span><span class="propCss">"color:#1d8dc0"</span>
    </div>

    <div class="draggable text-center" data-id="16" id="draggable16">
        <span class="balise">&lt;label&gt;
        <span class="baliseCss">for=</span><span class="baliseTxt">"name"</span>
        </span>Ajouter une expérience professionnelle :
        <span class="balise">&lt;/label&gt;</span>
    </div>

    <div class="draggable text-center" data-id="17" id="draggable17">
        <span class="balise">&lt;input</span>
        <span class="baliseCss">type=</span><span class="baliseTxt">"text"</span>
        <span class="baliseCss">name=</span><span class="baliseTxt">"name"</span>
        <span class="balise">&gt;</span>
    </div>

    <div class="draggable text-center" data-id="18" id="draggable18">
        <span class="balise">&lt;button&gt;</span>
        <span class="baliseCss">type=</span><span class="baliseTxt">"submit"</span>
        <span class="balise">&lt;/button&gt;</span>
    </div>

    <div class="draggable text-center color" data-id="19" id="draggable19">
        <span class="baliseCss">style=</span><span class="propCss">"color:#1d8dc0"</span>
    </div>

    <div class="draggable text-center" data-id="20" id="draggable20">
        <span class="balise">&lt;th</span>
        <span class="baliseCss">style=</span><span class="propCss">"width:50%"</span>
        <span class="balise">&gt;</span>
        Langues parlées<span class="balise">&lt;th&gt;</span>
    </div>

    <div class="draggable text-center" data-id="21" id="draggable21">
        <span class="balise">&lt;th</span>
        <span class="baliseCss">style=</span><span class="propCss">"width:50%"</span>
        <span class="balise">&gt;</span>
        Compétences<span class="balise">&lt;th&gt;</span>
    </div>

    <div class="draggable text-center" data-id="22" id="draggable22">
        <span class="balise">&lt;tr&gt;</span>
            Anglais : pratique professionnelle
        <span class="balise">&lt;tr&gt;</span>
    </div>

    <div class="draggable text-center" data-id="23" id="draggable23">
        <span class="balise">&lt;tr&gt;</span>
            Systèmes d'exploitation : Dos, Windows NT, logiciels IAO
        <span class="balise">&lt;tr&gt;</span>
    </div>

    <div class="draggable text-center" data-id="24" id="draggable24">
        <span class="balise">&lt;tr&gt;</span>
            Italien : pratique occasionnelle
        <span class="balise">&lt;tr&gt;</span>
    </div>

    <div class="draggable text-center" data-id="25" id="draggable25">
        <span class="balise">&lt;tr&gt;</span>
            Maîtrise des logiciels Excel , PowerPoint, Word, Autocad Civil 3D
        <span class="balise">&lt;tr&gt;</span>
    </div>

    <div class="draggable text-center color" data-id="26" id="draggable26">
        <span class="baliseCss">style=</span><span class="propCss">"color:#1d8dc0"</span>
    </div>

    <div class="draggable text-center" data-id="27" id="draggable27">
        <span class="balise">&lt;li&gt;</span>Juillet-Août 2013 : Stage au cinéma d'arts et d'essais le Cratère à Toulouse(2 mois)<span class="balise">&lt;li&gt;</span>
    </div>

    <div class="draggable text-center" data-id="28" id="draggable28">
        <span class="balise">&lt;li&gt;</span>2012-2013 : Bénévolat au refuge des Batignolles de Toulouse<span class="balise">&lt;li&gt;</span>
    </div>

    <div class="draggable text-center" data-id="29" id="draggable29">
        <span class="balise">&lt;li&gt;</span>Intérêts : Rugby, Cinéma, Informatique<span class="balise">&lt;li&gt;</span>
    </div>


    {#************** MODELE *************************#}

    {#<div class="draggable text-center" data-id="3" id="draggable3">#}
        {#<span class="balise">&lt;title&gt;</span>Exercice 2<span class="balise">&lt;/title&gt;</span>#}
    {#</div>#}

    {#<div class="draggable text-center" data-id="x" id="draggablex">#}
        {#<span class="balise">&lt;html&gt;</span>#}
    {#</div>#}

    {#<div class="draggable text-center" data-id="x" id="draggablex">#}
    {#<span class="balise">&lt;p&gt;<input id="p1" type="text" placeholder="taper ici...">&lt;/p&gt;</span>#}
    {#</div>#}

    {#<div class="draggable text-center" data-id="x" data-content="<h3>Reussi !</h3>"#}
    {#id="draggablex">#}
    {#<span class="balise">&lt;h1&gt;</span>Reussi !<span#}
    {#class="balise">&lt;/h1&gt;</span>#}
    {#</div>#}

    {#<div class="draggable text-center" data-id="x" id="draggablex">#}
    {#<span class="balise">&lt;/body&gt;</span>#}
    {#</div>#}
{% endblock %}

{% block code %}

    {#

    Partie en dur du le zone code et zone "droppable" pour recevoir les elements "draggable
    l'indentation est realisé a l'aide des margin left bootstrap ml-5 et de margin left personalisée baptisée
    ml-6, ml-7, ml-8 et ml-9.

    Afin de colorisée les balises et attribut, il était necessaire de passez par des span et des classe specifique qui
    rendent le code un peu illisible. TODO rendre plus propre le code.

    Chaque element Draggable possede une zone droppable qui modifiera si necesaire l'aperçu au niveau de l'element à l'id
    success correspondant (voir js)

    #}


    <p class="text-white">&lt;!DOCTYPE html&gt;</p>
    {#DUR#}
    <div>
        <span class="balise">&lt;html&gt;</span>
    </div>
    {#DUR#}
    <div>
        <span class="balise">&lt;head&gt;</span>
    </div>
    {#DUR#}
    <div class="ml-5 text-white">
        <span class="balise">&lt;title&gt;</span>Mon CV<span class="balise">&lt;/title&gt;</span>
    </div>
    {#DUR#}
    <div>
        <span class="balise">&lt;/head&gt;</span>
    </div>
    {#DUR#}
    <div>
        <span class="balise">&lt;body&gt;</span>
    </div>

    {#HEADER#}
    <div class="droppable ml-5 py-1" id="droppable30"></div>
    <div class="solution1 hide">
        <span class="balise">&lt;/header&gt;</span>
    </div>

    {#DUR#}
    <div class="ml-6"><span class="balise">&lt;div&gt;</span></div>

    {#H1#}
    <div class="d-flex align-items-center ml-7 my-1">
        <span class="balise">&lt;h1&nbsp;</span>
        <span class="baliseCss hide" id="block1">style=<span class="propCss">"color : #1d8dc0"</span></span>
        <span class="droppable" id="droppable1"></span>
        <span class="balise">&gt;</span>
        <span class="text-white">Mon CV</span>
        <span class="balise">&lt;/h1&gt;</span>
    </div>
    <div class="solution1">
        <div class="d-flex align-items-center ml-7 my-1">
            <span class="balise">&lt;h1&nbsp;</span>
            <span class="baliseCss hide" id="block1">style=<span class="propCss">"color : #1d8dc0"</span></span>
            <span class="baliseCss">style=</span><span class="propCss">"font-size:50px"</span>
            <span class="balise">&gt;</span>
            <span class="text-white">Mon CV</span>
            <span class="balise">&lt;/h1&gt;</span>
        </div>
    </div>
    {#IMAGE#}
    <div class="droppable ml-7 my-1" id="droppable2"></div>
    <div class="solution1 ml-7">
        <span class="balise">&lt;img
            <span class="baliseCss">src=</span>
            <span class="baliseTxt">"image/photocv.jpg"</span>
            <span class="baliseCss">alt=</span>
            <span class="baliseTxt">"photoCv"</span>
            <span class="balise">&gt;</span>
        </span>
    </div>
    {#DUR#}
    <div>
        <span class="balise ml-7">&lt;p&gt;</span>
    </div>

    {#NOM#}
    <div class="droppable ml-8 my-1" id="droppable3"></div>
    <div class="solution1 ml-8">
        <span class="balise">&lt;span&gt;<span class="text-white" id="nameSolution"></span>&lt;/span&gt;</span>
    </div>
    {#LIEN#}
    <div class="d-flex align-items-center ml-8 my-1">
        <span class="balise">&lt;a&nbsp;</span>
        <span class="baliseCss hide" id="block1">style=<span class="propCss">"color : #1d8dc0"</span></span>
        <span class="droppable my-1" id="droppable4"></span>
        <span class="balise">&gt;</span>
        <span class="text-white">Mon site</span>
        <span class="balise">&lt;/a&gt;</span>
    </div>
    <div class="solution1 ml-8">
        <span class="balise">&lt;a&nbsp;</span>
        <span class="baliseCss hide" id="block1">style=<span class="propCss">"color : #1d8dc0"</span></span>
        <span class="baliseCss">href=</span><span class="baliseTxt">"www.google.fr"</span>
        <span class="balise">&gt;</span>
        <span class="text-white">Mon site</span>
        <span class="balise">&lt;/a&gt;</span>
    </div>
    {#Née le#}
    <div class="droppable ml-8 my-1" id="droppable5"></div>
    <div class="solution1 ml-8">
        <span class="balise">&lt;span&gt;<span class="text-white" id="dateSolution"></span>&lt;/span&gt;</span>
    </div>

    {#DUR#}
    <div class="ml-7"><span class="balise">&lt;/p&gt;</span></div>

    {#ADRESSE#}
    <div style="height:5%" class="droppable ml-7 my-1" id="droppable6"></div>
    <div class="solution2 ml-7">
        <span class="balise">&lt;p&gt;</span>Avenue des Peupliers - 31000 TOULOUSE
        <span class="balise">&lt;br&gt;</span>
        06 53 26 59 85
        <span class="balise">&lt;br&gt;</span>
        dacourt.brice@gmail.com <span class="balise">&lt;/p&gt;</span>
    </div>
    {#DUR#}
    <div class="ml-6">
        <span class="balise">&lt;/div&gt;</span>
    </div>
    <div class="ml-6">
        <span class="balise">&lt;div&gt;</span>
    </div>
    {#Titre couleur personalisable#}
    <div class="d-flex align-items-center ml-7 my-1">
        <span class="balise">&lt;h2&nbsp;</span>
        <span class="baliseCss hide" id="block7">style=<span class="propCss">"color : #1d8dc0"</span></span>

        <span class="droppable" id="droppable7"></span>
        <span class="balise">&gt;</span>
        <span class="text-white">
            <span class="balise">&nbsp;&lt;u&gt;
            </span>Études et Formations : </span>
            <span class="balise">&lt;/u&gt;&nbsp;</span>
        <span class="balise">&lt;/h2&gt;</span>
    </div>
    <div class="solution2 ml-7">
        <span class="balise">&lt;h2&nbsp;</span>
        <span class="baliseCss hide" id="block7">style=<span class="propCss">"color : #1d8dc0"</span></span>
        <span class="baliseCss">style=</span><span class="propCss">"color:#1d8dc0"</span>
        <span class="balise">&gt;</span>
        <span class="text-white">
            <span class="balise">&nbsp;&lt;u&gt;
            </span>Études et Formations : </span>
        <span class="balise">&lt;/u&gt;&nbsp;</span>
        <span class="balise">&lt;/h2&gt;</span>
    </div>
    {#Ul#}
    <div class="droppable ml-7 my-1" id="droppable8"></div>
    <div class="solution2 ml-7">
        <span class="balise">&lt;ul&gt;</span>
    </div>
    {#li et BR#}
    <div class="droppable ml-8 my-1" id="droppable9"></div>
    <div class="solution2 ml-8">
        <span class="balise">&lt;li&gt;</span>2014-2016 : BSC Construction Management à la Sheffield University<span class="balise">&lt;li&gt;</span>
    </div>
    <div class="droppable ml-8 my-1" id="droppable10"></div>
    <div class="solution2 ml-8">
        <span class="balise">&lt;br&gt;</span>
    </div>
    <div class="droppable ml-8 my-1" id="droppable11"></div>
    <div class="solution2 ml-8">
        <span class="balise">&lt;li&gt;</span>2012-2014 : DUT génie civil à l'IUT Michel Montaigne de Montpellier<span class="balise">&lt;li&gt;</span>
    </div>
    <div class="droppable ml-8 my-1" id="droppable12"></div>
    <div class="solution2 ml-8">
        <span class="balise">&lt;br&gt;</span>
    </div>
    <div class="droppable ml-8 my-1" id="droppable13"></div>
    <div class="solution2 ml-8">
        <span class="balise">&lt;li&gt;</span>2008-2012 : Bac scientifique section internationale anglais<span class="balise">&lt;li&gt;</span>
    </div>
    {#Ul#}
    <div class="droppable ml-7 my-1" id="droppable14"></div>
    <div class="solution2 ml-7">
        <span class="balise">&lt;/ul&gt;</span>
    </div>
    {#DUR#}
    <div class="ml-6"><span class="balise">&lt;/div&gt;</span></div>
    <div class="ml-6"><span class="balise">&lt;br&gt;</span></div>
    <div class="ml-7"><span class="balise">&lt;hr&gt;</span></div>
    {#/header#}
    <div class="droppable ml-5 my-1" id="droppable31"></div>
    <div class="solution3 ml-5">
        <span class="balise">&lt;/header&gt;</span>
    </div>
    {#DUR#}
    <div class="ml-5"><span class="balise">&lt;main&gt;</span></div>
    <div class="ml-6"><span class="balise">&lt;div&gt;</span></div>

    {#Expériences professionnelles : couleur personalisable#}
    <div class="d-flex align-items-center ml-7 my-1">
        <span class="balise">&lt;h2&nbsp;</span>
        <span class="baliseCss hide" id="block15">style=<span class="propCss">"color : #1d8dc0"</span></span>
        <span class="droppable" id="droppable15"></span>
        <span class="balise">&gt;</span>
        <span class="text-white">
            <span class="balise">&nbsp;&lt;u&gt;
            </span>Expériences professionnelles : </span>
        <span class="balise">&lt;/u&gt;&nbsp;</span>
        <span class="balise">&lt;/h2&gt;</span>
    </div>
    <div class="solution3 ml-7">
        <span class="balise">&lt;h2&nbsp;</span>
        <span class="baliseCss hide" id="block15">style=<span class="propCss">"color : #1d8dc0"</span></span>
        <span class="baliseCss">style=</span><span class="propCss">"color:#1d8dc0"</span>
        <span class="balise">&gt;</span>
        <span class="text-white">
            <span class="balise">&nbsp;&lt;u&gt;
            </span>Expériences professionnelles : </span>
        <span class="balise">&lt;/u&gt;&nbsp;</span>
        <span class="balise">&lt;/h2&gt;</span>
    </div>
    {#DUR#}
    <div class="ml-7"><span class="balise">&lt;ul&gt;</span></div>
    <div class="ml-8">
        <span class="balise">&lt;li&gt;</span>
        <span class="text-white">2016-2017(8 mois) : Ingénieur d'études stagiaire chez Sopreco</span>
        <span class="balise">&lt;/li&gt;</span>
    </div>
    <div class="ml-8"><span class="balise">&lt;form&gt;</span></div>

    {#label input button#}
    <div class="droppable ml-9 my-1" id="droppable16"></div>
    <div class="solution3 ml-9">
        <span class="balise">&lt;label&gt;
        <span class="baliseCss">for=</span><span class="baliseTxt">"name"</span>
        </span>Ajouter une expérience professionnelle :
        <span class="balise">&lt;/label&gt;</span>
    </div>
    <div class="droppable ml-9 my-1" id="droppable17"></div>
    <div class="solution3 ml-9">
        <span class="balise">&lt;input</span>
        <span class="baliseCss">type=</span><span class="baliseTxt">"text"</span>
        <span class="baliseCss">name=</span><span class="baliseTxt">"name"</span>
        <span class="balise">&gt;</span>
    </div>
    <div class="droppable ml-9 my-1" id="droppable18"></div>
    <div class="solution3 ml-9">
        <span class="balise">&lt;button&gt;</span>
        <span class="baliseCss">type=</span><span class="baliseTxt">"submit"</span>
        <span class="balise">&lt;/button&gt;</span>
    </div>

    {#DUR#}
    <div class="ml-8"><span class="balise">&lt;/form&gt;</span></div>
    <div class="ml-7"><span class="balise">&lt;/ul&gt;</span></div>
    <div class="ml-6"><span class="balise">&lt;/div&gt;</span></div>
    <div class="ml-6"><span class="balise">&lt;hr&gt;</span></div>
    <div class="ml-6"><span class="balise">&lt;div&gt;</span></div>

    {#Langues parlées et compétences : couleur personalisable#}
    <div class="d-flex align-items-center ml-7 my-1">
        <span class="balise">&lt;h2&nbsp;</span>
        <span class="baliseCss hide" id="block19">style=<span class="propCss">"color : #1d8dc0"</span></span>
        <span class="droppable" id="droppable19"></span>
        <span class="balise">&gt;</span>
        <span class="text-white">
            <span class="balise">&nbsp;&lt;u&gt;
            </span>Langues parlées et compétences : </span>
        <span class="balise">&lt;/u&gt;&nbsp;</span>
        <span class="balise">&lt;/h2&gt;</span>
    </div>
    <div class="solution4 ml-7">
        <span class="balise">&lt;h2&nbsp;</span>
        <span class="baliseCss hide" id="block19">style=<span class="propCss">"color : #1d8dc0"</span></span>
        <span class="baliseCss">style=</span><span class="propCss">"color:#1d8dc0"</span>
        <span class="balise">&gt;</span>
        <span class="text-white">
            <span class="balise">&nbsp;&lt;u&gt;
            </span>Langues parlées et compétences : </span>
        <span class="balise">&lt;/u&gt;&nbsp;</span>
        <span class="balise">&lt;/h2&gt;</span>
    </div>

    {#DUR#}
    <div class="ml-7">
        <span class="balise">&lt;table
        <span class="baliseCss" id="block15">style=
        <span class="propCss">"border : 1px solid black"<span class="balise">&gt;</span></span>
        </span>
        </span>
    </div>
    <div class="ml-8"><span class="balise">&lt;tr&gt;</span></div>

    {#TH#}
    <div class="droppable ml-9 my-1" id="droppable20"></div>
    <div class="solution4 ml-9">
        <span class="balise">&lt;th</span>
        <span class="baliseCss">style=</span><span class="propCss">"width:50%"</span>
        <span class="balise">&gt;</span>
        Langues parlées<span class="balise">&lt;th&gt;</span>
    </div>
    <div class="droppable ml-9 my-1" id="droppable21"></div>
    <div class="solution4 ml-9">
        <span class="balise">&lt;th</span>
        <span class="baliseCss">style=</span><span class="propCss">"width:50%"</span>
        <span class="balise">&gt;</span>
        Compétences<span class="balise">&lt;th&gt;</span>
    </div>

    {#DUR#}
    <div class="ml-8"><span class="balise">&lt;/tr&gt;</span></div>
    <div class="ml-8"><span class="balise">&lt;tr&gt;</span></div>

    {#TD#}
    <div class="droppable ml-9 my-1" id="droppable22"></div>
    <div class="solution4 ml-9">
        <span class="balise">&lt;tr&gt;</span>
        Anglais : pratique professionnelle
        <span class="balise">&lt;tr&gt;</span>
    </div>
    <div class="droppable ml-9 my-1" id="droppable23"></div>
    <div class="solution4 ml-9">
        <span class="balise">&lt;tr&gt;</span>
        Systèmes d'exploitation : Dos, Windows NT, logiciels IAO
        <span class="balise">&lt;tr&gt;</span>
    </div>

    {#DUR#}
    <div class="ml-8"><span class="balise">&lt;/tr&gt;</span></div>
    <div class="ml-8"><span class="balise">&lt;tr&gt;</span></div>

    {#TD#}
    <div class="droppable ml-9 my-1" id="droppable24"></div>
    <div class="solution4 ml-9">
        <span class="balise">&lt;tr&gt;</span>
        Italien : pratique occasionnelle
        <span class="balise">&lt;tr&gt;</span>
    </div>
    <div class="droppable ml-9 my-1" id="droppable25"></div>
    <div class="solution4 ml-9">
        <span class="balise">&lt;tr&gt;</span>
        Maîtrise des logiciels Excel , PowerPoint, Word, Autocad Civil 3D
        <span class="balise">&lt;tr&gt;</span>
    </div>

    {#DUR#}
    <div class="ml-8"><span class="balise">&lt;/tr&gt;</span></div>
    <div class="ml-7"><span class="balise">&lt;/table&gt;</span></div>
    <div class="ml-7"><span class="balise">&lt;hr&gt;</span></div>
    <div class="ml-7"><span class="balise">&lt;div&gt;</span></div>

    {#Langues parlées et compétences : couleur personalisable#}
    <div class="d-flex align-items-center ml-8 my-1">
        <span class="balise">&lt;h2&nbsp;</span>
        <span class="baliseCss hide" id="block26">style=<span class="propCss">"color : #1d8dc0"</span></span>
        <span class="droppable" id="droppable26"></span>
        <span class="balise">&gt;</span>
        <span class="text-white">
            <span class="balise">&nbsp;&lt;u&gt;
            </span>Centres d'intérêts :</span>
        <span class="balise">&lt;/u&gt;&nbsp;</span>
        <span class="balise">&lt;/h2&gt;</span>
    </div>
    <div class="solution5 ml-8">
        <span class="balise">&lt;h2&nbsp;</span>
        <span class="baliseCss hide" id="block26">style=<span class="propCss">"color : #1d8dc0"</span></span>
        <span class="baliseCss">style=</span><span class="propCss">"color:#1d8dc0"</span>
        <span class="balise">&gt;</span>
        <span class="text-white">
            <span class="balise">&nbsp;&lt;u&gt;
            </span>Centres d'intérêts :</span>
        <span class="balise">&lt;/u&gt;&nbsp;</span>
        <span class="balise">&lt;/h2&gt;</span>
    </div>
    {#DUR#}
    <div class="ml-8"><span class="balise">&lt;ul&gt;</span></div>

    <div class="droppable ml-9 my-1" id="droppable27"></div>
    <div class="solution5 text-white ml-9">
        <span class="balise">&lt;li&gt;</span>Juillet-Août 2013 : Stage au cinéma d'arts et d'essais le Cratère à Toulouse(2 mois)<span class="balise">&lt;li&gt;</span>
    </div>
    <div class="droppable ml-9 my-1" id="droppable28"></div>
    <div class="solution5 text-white ml-9">
        <span class="balise">&lt;li&gt;</span>2012-2013 : Bénévolat au refuge des Batignolles de Toulouse<span class="balise">&lt;li&gt;</span>
    </div>
    <div class="droppable ml-9 my-1" id="droppable29"></div>
    <div class="solution5 text-white ml-9">
        <span class="balise">&lt;li&gt;</span>Intérêts : Rugby, Cinéma, Informatique<span class="balise">&lt;li&gt;</span>
    </div>

    {#DUR#}
    <div class="ml-8"><span class="balise">&lt;/ul&gt;</span></div>
    <div class="ml-7"><span class="balise">&lt;/div&gt;</span></div>
    <div class="ml-6"><span class="balise">&lt;/div&gt;</span></div>
    <div class="ml-5"><span class="balise">&lt;/main&gt;</span></div>

    <div><span class="balise">&lt;/body&gt;</span></div>

    <div><span class="balise">&lt;/html&gt;</span></div>
{% endblock %}


{% block trophy %}
    <p class="text-center">Vous avez debloqué le trophée : Niveau 1 !</p>
    <img src="{{ asset('uploads/image/trophy/obtain/trophy_one.png') }}" alt="trophée 1" width="80px" height="80px">
{% endblock %}

{% block apercu %}
<header>
    <div>
        <h1 id="success1">Mon CV</h1>
        <img class="hide" id="success2" src="{{ asset('uploads/image/exercice10/photocv.jpg') }}" alt="Photo Brice Dacourt"/>
        <p>
            <span id="success3"></span>
            <a href="error" id="success4">Mon site</a>{#todo add href#}
            <br/>
            <span id="success5"></span>{#todo Né le 'perso'#}
        </p>
        <p class="hide" id="success6">Avenue des Peupliers - 31000 TOULOUSE<br/>
            06 53 26 59 85 <br/>
            dacourt.brice@gmail.com</p>
    </div>
    <div>
        <h2 id="success7"> <u>Études et Formations : </u></h2>{#todo style color#}

        <div id="success8"></div>{#todo balise ul#}
            <li class="hide" id="success9">2014-2016 : BSC Construction Management à la Sheffield University</li>
            <br class="hide" id="success10">
            <li class="hide" id="success11">2012-2014 : DUT génie civil à l'IUT Michel Montaigne de Montpellier</li>
            <br class="hide" id="success12">
            <li class="hide" id="success13">2008-2012 : Bac scientifique section internationale anglais</li>
        <div id="success14"></div>{#todo balise /ul#}
    </div>
    <br>
    <hr>
</header>
<main>
    <div>
        <h2 id="success15"> <u> Expériences professionnelles : </u> </h2>{#todo style color#}
        <ul>
            <li>2016-2017(8 mois) : Ingénieur d'études stagiaire chez Sopreco</li>
            <form>
                <label class="hide" id="success16" for="name">Ajouter une expérience professionnelle :  </label>
                <input class="hide" id="success17" type="text" name="name">
                <button type="button" class="hide" id="success18">Ajouter</button>
            </form>
        </ul>
    </div>
    <hr>
    <div>
        <h2 id="success19"><u>Langues parlées et compétences :</u></h2>{#todo style color#}
        <table style="border: 1px solid black">
            <tr>
                <th class="hide" id="success20" style="width: 50%" >Langues parlées</th>
                <th class="hide" id="success21" style="width: 50%">Compétences</th>
            </tr>
            <tr>
                <td class="hide" id="success22">Anglais : pratique professionnelle</td>
                <td class="hide" id="success23">Systèmes d'exploitation : Dos, Windows NT, logiciels IAO</td>
            </tr>
            <tr>
                <td class="hide" id="success24">Italien : pratique occasionnelle</td>
                <td class="hide" id="success25">Maîtrise des logiciels Excel , PowerPoint, Word, Autocad Civil 3D </td>
            </tr>
        </table>
        <hr>
        <div>
            <h2 id="success26"><u>Autres expériences et centres d'intérêts :</u></h2>{#todo style color#}
            <ul>
                <li class="hide" id="success27">Juillet-Août 2013 : Stage au cinéma d'arts et d'essais le Cratère à Toulouse(2 mois)</li>
                <br>
                <li class="hide" id="success28">2012-2013 : Bénévolat au refuge des Batignolles de Toulouse</li>
                <br>
                <li class="hide" id="success29">Intérêts : Rugby, Cinéma, Informatique </li>
            </ul>
        </div>
    </div>
</main>
{% endblock %}


{% block javascriptsExt %}
    <script src={{ asset('js/niveaux/1/n1e10.js')}}></script>
{% endblock %}