{% extends 'exercice/css.html.twig' %}

{% block perso_css %}<link rel="stylesheet" href="{{ asset('css/niveaux/2/n2e1.css') }}">{% endblock %}

{% block lecons %}
    <br>
    <ul class="text-white">
        <li>
    Les attributs Class et id permettent de sélectionner un élément précis plutôt qu'un type d'élément.
    Côté HTML, nous écrivons l'attribut dans la balise ouvrante d'un élément et lui attribuons une valeur.
        </li>
        <br>
        <li>
            Coté HTML: <br>
            <span class="balise">&lt;p
            <span class="baliseCss">id=</span>
            <span class="baliseTxt">"monPlusBeauParagraphe"</span>
            &gt;
            </span>
            <br><br>
            Coté CSS:<br>
            <span class="baliseCss">#monPlusBeauParagraphe</span>{<br>
            <span class="propCss ml-3">font-size :</span><span class="valueCss"> 30px</span>;<br>
            }
        </li>
        <li>
            Les liens sont du texte permettant, au clic d'atterir sur une autre page. On peut faire un lien d'une page
            a.html vers une page b.html mais aussi vers un autre site (par exemple, http://www.autreSite.com).<br>
        </li>
        <br>

            Structure:<br>
            <span class="balise">&lt;a </span> href=<span class="baliseCss">"monLien"</span><span class="balise">&gt</span>Mon site préféré<span class="balise">&lt;/a&gt; </span>

    </ul>
{% endblock %}


{% block elements %}

    <div class="draggable text-center" data-id="1" id="draggable1">
        <span class="baliseCss">class=</span><span class="baliseTxt">".title2"</span>
    </div>
    <br>
    <div class="draggable text-center" data-id="2" id="draggable2">
                        <span class="baliseCss">class.</span><span class="baliseTxt">"title2"</span>
    </div>
    <br>
    <div class="draggable text-center" data-id="3" id="draggable3" >
                        <span class="baliseCss">class:</span><span class="baliseTxt">"title2"</span>
    </div>
    <br>
    <div class="draggable text-center" data-id="4" id="draggable4">
                        <span class="baliseCss">class</span><span class="baliseTxt">(.title2)</span>
    </div>
    <br>
    <div class="draggable text-center" data-id="5" data-content="title2" id="draggable5">
                        <span class="baliseCss">class=</span><span class="baliseTxt">"title2"</span>
    </div>
    <br>
    <div class="draggable text-center" data-id="6" id="draggable6">
                        <span class="baliseCss">class=</span><span class="baliseTxt">title2</span>
    </div>
    <br>
    <div class="draggable text-center" data-id="7" id="draggable7">
                        <span class="baliseCss">class:</span><span class="baliseTxt">.title2</span>
    </div>
    <hr>
    <div class="draggable text-center" data-id="9" id="draggable9">
        <span>color : <input id ="input9" type="text" placeholder="Valeur"></span>
    </div>

{% endblock %}

{% block code_html %}
    
    <p class="text-white">&lt;!DOCTYPE html&gt;</p>
    <!--Devra etre généré si possible en php depuis la BDD des exercice-->
    <div><span class="balise">&lt;html&gt;</span></div>
    <div><span class="balise">&lt;head&gt;</span></div>
    <div class="text-white">
        <span class="balise">&lt;title&gt;</span>
        Ma page
        <span class="balise">&lt;/title&gt;</span>
    </div>
    <div><span class="balise">&lt;/head&gt;</span></div>
    <div><span class="balise">&lt;body&gt;</span></div>
    <div class="d-flex align-items-center text-white" id="blockA">
        <span class="balise">&lt;h1&nbsp;</span>
        <span class="baliseCss hide" id="block5">class=<span class="baliseTxt">"title2"</span></span>
        <span class="droppable" id="droppable5"></span>
        <span class="balise">&gt</span> Ma page
        <span class="balise">&lt;/h1&gt;</span><i class="fas fa-check hide baliseCss" id="check5"></i>
    </div>
    <div class="text-white">
        <span class="balise">&lt;p <span class="baliseCss">id=<span class="baliseTxt">"pRed"</span></span>&gt;</span>
        Mon paragraphe rouge
        <span class="balise">&lt;/p&gt;</span>
    </div>
    <div><span class="balise">&lt;/body&gt;</span></div>
    <div><span class="balise">&lt;/html&gt;</span></div>

{% endblock %}

{% block code_css %}

    <pre class="text-white">

    <span class="baliseCss">.title2</span>{
    <div class="hide" id="block9"></div>
    <div class="droppable" id="droppable9"></div>
}

<span class="baliseCss">#pRed</span>{
    color : red;
}

    </pre>

{% endblock %}

{% block nextlevel %}
    <form action="{{ path('exercice', {slug : 'niveau-'~exercice.level.number~'-exercice'~next}) }}"
          method="post">
        <input type="hidden" name='token' value="{{ csrf_token('next-token') }}">
        <input type="hidden" name='exFinish' value="{{ exercice.id }}">
        <button class="btn p-4" id="next">Exercice suivant -></button>
    </form>
{% endblock %}

{% block trophy %}
{% endblock %}

{% block apercu %}
    <h3 id="success5" class="text-center">Ma Page</h3>
    <p style="color: red">Mon paragraphe rouge</p>
    
{% endblock %}


{% block javascriptsExt %}
    <script src={{ asset('js/niveaux/2/n2e1.js')}}></script>
{% endblock %}