{% extends 'exercice/exercice.html.twig' %}

{% block perso_css %}<link rel="stylesheet" href="{{ asset('css/niveaux/1/n1e6.css') }}">{% endblock %}

{% block lecons %}
<p class="text-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam
    asperiores aspernatur
    cum deleniti dolorem harum illo in maiores, natus necessitatibus nesciunt nihil,
    nobis
    officia officiis quas, repellat saepe suscipit voluptatem!</p>
<p class="text-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam
    asperiores aspernatur
    cum deleniti dolorem harum illo in maiores, natus necessitatibus nesciunt nihil,
    nobis
    officia officiis quas, repellat saepe suscipit voluptatem!</p>
{% endblock %}


{% block elements %}
    <!--Devra etre généré si possible en php depuis la BDD des exercice-->

    <div class="draggable text-center my-1" data-id="4" id="draggable4">
        <span class="balise">&lt;td&gt;</span>Somme<span class="balise">&lt;/td&gt;</span>
    </div>

    <div class="draggable text-center my-1" data-id="6" id="draggable6">
        <span class="balise">&lt;/tfoot&gt;</span>
    </div>

    <div class="draggable text-center my-1" data-id="2" id="draggable2">
        <span class="balise">&lt;th&gt;</span>Dépenses<span class="balise">&lt;/th&gt;</span>
    </div>

    <div class="draggable text-center my-1" data-id="8" id="draggable8">
        <span class="balise">&lt;/tbody&gt;</span>
    </div>

    <div class="draggable text-center my-1" data-id="5" id="draggable5">
        <span class="balise">&lt;td&gt;</span>1350€<span class="balise">&lt;/td&gt;</span>
    </div>

    <div class="draggable text-center my-1" data-id="1" id="draggable1">
        <span class="balise">&lt;th&gt;</span>Mois<span class="balise">&lt;/th&gt;</span>
    </div>

    <div class="draggable text-center my-1" data-id="7" id="draggable7">
        <span class="balise">&lt;tbody&gt;</span>
    </div>

    <div class="draggable text-center my-1" data-id="3" id="draggable3">
        <span class="balise">&lt;tfoot&gt;</span>
    </div>




{% endblock %}

{% block code %}
<p class="text-white">&lt;!DOCTYPE html&gt;</p>
<!--Devra etre généré si possible en php depuis la BDD des exercice-->

{#début head#}
    <div><span class="balise">&lt;html&gt;</span></div>

    <div><span class="balise">&lt;head&gt;</span></div>

    <div class="pl-4 text-white"><span class="balise">&lt;title&gt;</span>Tableaux HTML<span class="balise">&lt;/title&gt;</span></div>

    <div><span class="balise">&lt;/head&gt;</span></div>

    <div><span class="balise">&lt;body&gt;</span></div>
    {#fin head#}


{#début table#}
    {#thead#}
    <div><span class="balise ml-3">&lt;table&gt;</span></div>

    <div><span class="balise ml-5">&lt;thead&gt;</span></div>

    <div><span class="balise ml-6">&lt;tr&gt;</span></div>

    <div class="droppable ml-7 my-3" id="droppable1"></div>
    <div class="solution1 ml-7 hide my-3">
        <span class="balise">&lt;th&gt;</span>
        Mois
        <span class="balise">&lt;/th&gt;</span>
    </div>

    <div class="droppable ml-7 my-3" id="droppable2"></div>
    <div class="solution1 ml-7 hide my-3">
        <span class="balise">&lt;th&gt;</span>
        Dépenses
        <span class="balise">&lt;/th&gt;</span>
    </div>

    <div><span class="balise ml-6">&lt;/tr&gt;</span></div>
    <div><span class="balise ml-5">&lt;/thead&gt;</span></div><br>
    {#fin thead#}

    {#tfoot#}
    <div class="droppable ml-5" id="droppable3"></div>
    <div class="solution1 ml-5 hide"><span class="balise">&lt;tfoot&gt;</span></div>


    <div><span class="balise ml-6">&lt;tr&gt;</span></div>

    <div class="droppable ml-7 my-3" id="droppable4"></div>
    <div class="solution1 ml-7 hide my-3">
        <span class="balise">&lt;td&gt;</span>
        Somme
        <span class="balise">&lt;/td&gt;</span>
    </div>

    <div class="droppable ml-7 my-3" id="droppable5"></div>
    <div class="solution2 ml-7 hide my-3">
        <span class="balise">&lt;td&gt;</span>
        1350€
        <span class="balise">&lt;/td&gt;</span>
    </div>

    <div><span class="balise ml-6">&lt;/tr&gt;</span></div>

    <div class="droppable ml-5" id="droppable6"></div>
    <div class="solution2 ml-5 hide"><span class="balise">&lt;/tfoot&gt;</span></div>
    {#fin tfoot#}


     {#début tbody#}
    <div class="droppable ml-5 my-3" id="droppable7"></div>
    <div class="solution2 ml-5 hide"><span class="balise">&lt;tbody&gt;</span></div>

    <div><span class="balise ml-6">&lt;tr&gt;</span></div>
    <div class="ml-7 my-3">
        <span class="balise">&lt;td&gt;</span>
        <span class="text-white">Janvier</span>
        <span class="balise">&lt;/td&gt;</span>
    </div>
    <div class="ml-7 my-3">
        <span class="balise">&lt;td&gt;</span>
        <span class="text-white">450€</span>
        <span class="balise">&lt;/td&gt;</span>
    </div>
    <div><span class="balise ml-6">&lt;/tr&gt;</span></div>


    <div><span class="balise ml-6">&lt;tr&gt;</span></div>
    <div class="ml-7 my-3">
        <span class="balise">&lt;td&gt;</span>
        <span class="text-white">Février</span>
        <span class="balise">&lt;/td&gt;</span>
    </div>
    <div class="ml-7 my-3">
        <span class="balise">&lt;td&gt;</span>
        <span class="text-white">520€</span>
        <span class="balise">&lt;/td&gt;</span>
    </div>
    <div><span class="balise ml-6">&lt;/tr&gt;</span></div>

    <div><span class="balise ml-6">&lt;tr&gt;</span></div>
    <div class="ml-7 my-3">
        <span class="balise">&lt;td&gt;</span>
        <span class="text-white">Mars</span>
        <span class="balise">&lt;/td&gt;</span>
    </div>
    <div class="ml-7 my-3">
        <span class="balise">&lt;td&gt;</span>
        <span class="text-white">380€</span>
        <span class="balise">&lt;/td&gt;</span>
    </div>
    <div><span class="balise ml-6">&lt;/tr&gt;</span></div>

    <div class="droppable ml-5" id="droppable8"></div>
    <div class="solution2 ml-5 hide"><span class="balise">&lt;/tbody&gt;</span></div>
    {#fin tbody#}

    <div><span class="balise ml-3">&lt;/table&gt;</span></div>

    <div><span class="balise">&lt;/body&gt;</span></div>

    <div><span class="balise">&lt;/html&gt;</span></div>





{% endblock %}

{% block nextlevel %}
<form action="{{ path('exercice', {slug : 'niveau-'~exercice.level.number~'-exercice'~next}) }}"
      method="post">
    <input type="hidden" name='token' value="{{ csrf_token('next-token') }}">
    <input type="hidden" name='exFinish' value="{{ exercice.id }}">
    <button class="btn p-4" id="next">Exercice suivant -></button>
</form>
{% endblock %}

{% block trophy %}
{% endblock %}

{% block apercu %}

    <table>
        <thead>
        <tr>
            <th class="hide" id="success1">Mois</th>
            <th class="hide" id="success2">Dépense</th>
        </tr>
        </thead>

        <tfoot class="hide" id="success3">
        <tr>
            <td class="hide" id="success4">Somme</td>
            <td class="hide" id="success5">1350€</td>
        </tr>
        </tfoot class="hide" id="success6">

        <tbody class="hide" id="success7">
        <tr>
            <td>Janvier</td>
            <td>450€</td>
        </tr>
        <tr >
            <td>Février</td>
            <td>520€</td>
        </tr>
        <tr >
            <td>Mars</td>
            <td>380€</td>
        </tr>
        </tbody class="hide" id="success8">
    </table>

{% endblock %}


{% block javascriptsExt %}
    <script src={{ asset('js/niveaux/1/n1e6.js')}}></script>
{% endblock %}