{% extends 'exercice/css.html.twig' %}

{% block perso_css %}<link rel="stylesheet" href="{{ asset('css/niveaux/2/n2e3.css') }}">{% endblock %}

{% block lecons %}
    {#consigne TODO
        - dans cette exercice vous allez devoir mettre le titre en couleur(au choix)
        - modifier le style d'un element de la liste
        - ainsi que de souligner un element de la liste
    #}

    <div>
        <ul class="text-white"><br>
            <li>La propriété <span class="propCss">color</span> sert a modifier la couleur d’un texte. Il est possible de mettre une couleur a partir de son nom en Anglais (blue), en valeur hexadecimale(<span class="valueCss">#AA8474</span>) ou en valeur RGB(<span class="valueCss">rgb(255,85,78)</span>). </li>
            <br>
            <li>Il est également possible de gérer l’opacité d'une couleur avec le RGBA(EX: <span class="valueCss">rgba(50,45,16,45)</span> ou avec un code hexadecimal(<span class="valueCss">#AA8474b2</span>).</li>
            <br>
            <li>La propriété <span class="propCss">text-decoration</span> permet de mettre comme son nom l’indique des décorations sur du texte comme un soulignement par exemple avec la valeur '<span class="valueCss">underline</span>'.<br> La liste des autres valeurs possibles :
                <a target="_blank" href="https://developer.mozilla.org/fr/docs/Web/CSS/text-decoration">ici</a>.
            </li>
            <br>
            <li>La proprieté <span class="propCss">list-style</span> permet de modifier le style des éléments d’une liste.
               Imaginons que cette propriété ait l’attribut 'none', le point de chaque élément de liste disparaîtrait.
                <br>
                <br>
                Liste des styles possibles : <a target="_blank" href="http://stylescss.free.fr/list-style-type.php">ici</a>.</li>
            <br>
        </ul>
    </div>

    {# TODO
        astuce :        color -> https://developer.mozilla.org/fr/docs/Web/CSS/color
                        text-decoration -> https://developer.mozilla.org/fr/docs/Web/CSS/text-decoration
                        list-style -> https://developer.mozilla.org/fr/docs/Web/CSS/list-style
     #}
{% endblock %}


{% block elements %}    

    {# false #}
    <div class="draggable text-center" data-id="1" id="draggable1">
        <span class="propCss">colore </span>:<input id ="input1" type="text" placeholder="Valeur">
    </div>
<br>
    {# false #}
    <div class="draggable text-center" data-id="2" id="draggable2">
        <span class="propCss">coloration</span> : <input id ="input2" type="text" placeholder="Valeur">
    </div>
<br>
    {# true #}
    <div class="draggable text-center" data-id="3" id="draggable3">
        <span class="propCss">color </span>: <input id ="input3" type="text" placeholder="Valeur">
    </div>
<br>
    {# true #}
    <div class="draggable text-center" data-id="4" id="draggable4">
        <span class="propCss">text-decoration</span> : <input id ="input4" type="text" placeholder="Valeur">
    </div>
<br>
    {#false #}
    <div class="draggable text-center" data-id="5" id="draggable5">
        <span class="propCss">texte-decoration</span> : <input id ="input5" type="text" placeholder="Valeur">
    </div>
<br>
    {# false #}
    <div class="draggable text-center" data-id="6" id="draggable6">
        <span class="propCss">text-deco</span> : <input id ="input6" type="text" placeholder="Valeur">
    </div>
<br>    
    {# false #}
    <div class="draggable text-center" data-id="7" id="draggable7">
        <span class="propCss">list </span>: <input id ="input7" type="text" placeholder="Valeur">
    </div>
<br>
    {# false #}
    <div class="draggable text-center" data-id="8" id="draggable8">
        <span class="propCss">liste-style</span> : <input id ="input8" type="text" placeholder="Valeur">
    </div>
<br>
    {# true #}
    <div class="draggable text-center" data-id="9" id="draggable9">
        <span class="propCss">list-style </span>: <input id ="input9" type="text" placeholder="Valeur">
    </div>

{% endblock %}

{% block code_html %}

    <p class="text-white">&lt;!DOCTYPE html&gt;</p>
    <!--Devra etre généré si possible en php depuis la BDD des exercice-->
    <div>
        <span class="balise">&lt;html&gt;</span>
    </div>
    <div>
        <span class="balise">&lt;head&gt;</span>
    </div>
    <div class="ml-5 text-white">
        <span class="balise">&lt;title&gt;</span>
        Exercice n°3
        <span class="balise">&lt;/title&gt;</span>
    </div>
    <div>
        <span class="balise">&lt;/head&gt;</span>
    </div>
    <div>
        <span class="balise">&lt;body&gt;</span>
    </div>
    {# --------------------------------------------------------------- #}
    <div class="d-flex align-items-center ml-5 text-white" id="blockA">
        <span class="balise">&lt;h3&nbsp;</span>
        <span class="baliseCss" >class=<span class="baliseTxt">"title"</span></span>
        
        <span class="balise">&gt;</span>Ma liste de course
        <span class="balise">&lt;/h3&gt;</span>
    </div>

    <div class="ml-5">
        <span class="balise">&lt;ul <span class="baliseCss">class=<span class="baliseTxt">"list"</span></span> &gt;</span>
    </div>

    <div class="ml-6 text-white">
        <span class="balise">&lt;li&gt;</span>
        <span>lait</span>
        <span class="balise">&lt;/li&gt;</span>
    </div>

    <div class="ml-6 text-white">
        <span class="balise">&lt;li&gt;</span>
        <span>Farine</span>
        <span class="balise">&lt;/li&gt;</span>
    </div>

    <div class="d-flex align-items-center ml-6 text-white" id="blockA">
        <span class="balise">&lt;li &nbsp;</span>
        <span class="baliseCss">id=<span class="baliseTxt">"t-decoration"</span></span>        
        <span class="balise">&gt;</span>
        <span>Yahourt</span>
        <span class="balise">&lt;/li&gt;</span>
    </div>

    <div class="ml-6 text-white">
        <span class="balise">&lt;li&gt;</span>
        <span>Bouteille d'eau</span>
        <span class="balise">&lt;/li&gt;</span>
    </div>

    <div class="ml-5">
        <span class="balise">&lt;/ul&gt;</span>
    </div>

    {# -------------------------------------------------- #}
    <div>
        <span class="balise">&lt;/body&gt;</span>
    </div>
    <div>
        <span class="balise">&lt;/html&gt;</span>
    </div>

{% endblock %}

{% block code_css %}

<div class="text-white">
    <span class="baliseCss">.title</span>{
    <div class="droppable ml-4" id="droppable3"></div>
    <div class="solution1 hide ml-4">
        <span class="propCss">color : <span class="valueCss" id="solInput1" ></span> ;</span>        
    </div>
    <span>}</span>    

    <br><br>
    <span class="baliseCss">#t-decoration</span>{
    <div class="droppable ml-4" id="droppable4"></div>
    <div class="solution2 hide ml-4">
        <span class="propCss">text-decoration : <span class="valueCss" id="solInput2" ></span> ;</span>        
    </div>
    <span>}</span>

    <br><br>
    <span class="baliseCss">.list</span>{
    <div class="droppable ml-4" id="droppable9"></div>
    <div class="solution3 hide ml-4">
         <span class="propCss">list-style : <span class="valueCss" id="solInput3" ></span> ;</span>        
    </div>
    <span>}</span>
</div>

    

{% endblock %}

{% block nextlevel %}
    <form action="{{ path('exercice', {slug : 'niveau-'~exercice.level.number~'-exercice'~next}) }}"
          method="post">
        <input type="hidden" name='token' value="{{ csrf_token('next-token') }}">
        <input type="hidden" name='exFinish' value="{{ exercice.id }}">
        <button class="btn p-4" id="next">Exercice suivant -></button>
    </form>
{% endblock %}

{% block trophy %}
{% endblock %}

{% block apercu %}
    <h3 class="title">Ma liste de course</h3>
    <ul class="list">
        <li>Lait</li>
        <li>Farine</li>
        <li id="t-decoration">Yahourt</li>
        <li>Bouteille d'eau</li>
    </ul>
{% endblock %}


{% block javascriptsExt %}
    <script src={{ asset('js/niveaux/2/n2e3.js')}}></script>
{% endblock %}