{% extends 'exercice/css.html.twig' %}

{% block perso_css %}<link rel="stylesheet" href="{{ asset('css/niveaux/2/n2e4.css') }}">{% endblock %}

{% block lecons %}

    {#consigne TODO
            -dans cette exercice vous allez devoir appliquer une nouvelle taille de  police au
            titre( il est important de choisir une police native a windows c’esta dire une déjà presente sur votre ordinateur , changer la police utiliser par le span
             ainsi que de modifier le poids de nos textes(mettre en gras ou reduire cette valeur).
    #}
<div>
    <ul class="text-white"><br>
        <li>La propriété CSS <span class="propCss">font-family</span> va nous permettre de définir la police de notre texte.(si vous utiliser une police n’etant pas presente sur votre ordinateur , <span class="propCss">font-family</span>   ne fonctionnera pas) plus de detail
            <a href="https://developer.mozilla.org/fr/docs/Web/CSS/font-family">ici</a>.</li>
        <br>
        <li>La propriete <span class="propCss">font-size</span> vas nous permettre de modifier la taille du texte (il est necessaire d’utiliser une uniter de messure avec la valeur) vous trouverez
            <a target="_blank" href="https://developer.mozilla.org/fr/docs/Web/CSS/font-size">ici</a> une documentation plus complete sur les valeurs possible.</li>
        <br>
        <li>La proprieter <span class="propCss">Font-weight</span> permet de modifier le poid du texte passer un texte en gras par exemple ou faire l’inverse en reduisant la valeur. Vous trouverez une documentation plus complete
            <a target="_blank" href="https://developer.mozilla.org/fr/docs/Web/CSS/font-weight">ici</a> sur les valeurs possible.</li>
    </ul>
</div>

    {# TODO
    astuce : -> https://www.pierre-giraud.com/html-css/cours-complet/proprietes-css-font.php

     #}

{% endblock %}


{% block elements %} 

    {# false #}
    <div class="draggable text-center" data-id="1" id="draggable1">
        <span class="propCss">fonte-size</span> : <input id ="input1" type="text" placeholder="Valeur">
    </div>   

    {# true #}
    <div class="draggable text-center" data-id="2" id="draggable2">
        <span class="propCss">font-size</span> : <input id ="input2" type="text" placeholder="Valeur">
    </div>

    {# false #}
    <div class="draggable text-center" data-id="3" id="draggable3">
        <span class="propCss">fontsize</span> : <input id ="input3" type="text" placeholder="Valeur">
    </div>

    {# false #}
    <div class="draggable text-center" data-id="4" id="draggable4">
        <span class="propCss">font-wieght</span> : <input id ="input4" type="text" placeholder="Valeur">
    </div>

    {# true #}
    <div class="draggable text-center" data-id="5" id="draggable5">
        <span class="propCss">font-weight</span> : <input id ="input5" type="text" placeholder="Valeur">
    </div>

    

    {# false #}
    <div class="draggable text-center" data-id="6" id="draggable6">
        <span class="propCss">fonteweight </span>: <input id ="input6" type="text" placeholder="Valeur">
    </div>
    
    

    {# false #}
    <div class="draggable text-center" data-id="7" id="draggable7">
        <span class="propCss">fonte-family</span> : <input id ="input7" type="text" placeholder="Valeur">
    </div>

    {# false #}
    <div class="draggable text-center" data-id="8" id="draggable8">
        <span class="propCss">font-famille</span> : <input id ="input8" type="text" placeholder="Valeur">
    </div>

    {# true #}
    <div class="draggable text-center" data-id="9" id="draggable9">
        <span class="propCss">font-family </span>: <input id ="input9" type="text" placeholder="Valeur">
    </div>

{% endblock %}

{% block code_html %}

    <p class="text-white">&lt;!DOCTYPE html&gt;</p>
    <!--Devra etre généré si possible en php depuis la BDD des exercice-->
    <div>
        <span class="balise">&lt;html&gt;</span>
    </div>
    <div>
        <span class="balise">&lt;head&gt;</span>
    </div>
    <div class="ml-5 text-white">
        <span class="balise">&lt;title&gt;</span>
        Exercice n°4
        <span class="balise">&lt;/title&gt;</span>
    </div>
    <div>
        <span class="balise">&lt;/head&gt;</span>
    </div>
    <div>
        <span class="balise">&lt;body&gt;</span>
    </div>
    {# --------------------------------------------------------------- #}
    <div class="d-flex align-items-center ml-5 text-white" id="blockA">
        <span class="balise">&lt;h2&nbsp;</span>
        <span class="baliseCss" >class=<span class="baliseTxt">"title"</span></span>        
        <span class="balise">&gt;</span>
        <span class="text-white">Mon super titre</span>
        <span class="balise">&lt;/h2&gt;</span>
    </div>

    <div class="ml-5">
        <span class="balise">&lt;p <span class="baliseCss">id=<span class="baliseTxt">"paragraphe"</span></span> &gt;</span>
        <p class="text-white paragraphe">Ceci est un super paragraphe ,lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam nihil a totam ullam ab ipsam odio aliquam placeat quibusdam voluptatibus quia similique veritatis deleniti, in, omnis harum corporis optio quae.</p>
        <span class="balise">&lt;/p&gt;</span>
    </div>

    <div class="ml-5">
        <span class="balise">&lt;span
        <span class="baliseCss" >class=<span class="baliseTxt">"span"</span></span> 
        <span class="balise">&gt;</span>
        <span class="text-white">Span de haute qualité</span>
        <span class="balise">&lt;/span&gt;</span>
    </div>

    

    {# -------------------------------------------------- #}
    <div>
        <span class="balise">&lt;/body&gt;</span>
    </div>

    <div>
        <span class="balise">&lt;/html&gt;</span>
    </div>

{% endblock %}

{% block code_css %}

<div class="text-white">
    <span class="baliseCss">.title</span>{
    <div class="droppable ml-4" id="droppable2"></div>
    <div class="solution1 hide ml-4">
        <span class="propCss">font-size : <span class="valueCss" id="solInput1" ></span> ;</span>        
    </div>
    <span>}</span>    

    <br><br>
    <span class="baliseCss">#paragraphe</span>{
    <div class="droppable ml-4" id="droppable5"></div>
    <div class="solution2 hide ml-4">
        <span class="propCss">font-weight : <span class="valueCss" id="solInput2" ></span> ;</span>       
    </div>
    <span>}</span>

    <br><br>
    <span class="baliseCss">.span</span>{
    <div class="droppable ml-4" id="droppable9"></div>
    <div class="solution3 hide ml-4">
         <span class="propCss">font-family : <span class="valueCss" id="solInput3" ></span> ;</span>        
    </div>
    <span>}</span>
</div>

    

{% endblock %}

{% block nextlevel %}
    <form action="{{ path('exercice', {slug : 'niveau-'~exercice.level.number~'-exercice'~next}) }}"
          method="post">
        <input type="hidden" name='token' value="{{ csrf_token('next-token') }}">
        <input type="hidden" name='exFinish' value="{{ exercice.id }}">
        <button class="btn p-4" id="next">Exercice suivant -></button>
    </form>
{% endblock %}

{% block trophy %}
{% endblock %}

{% block apercu %}
    <h2 class="title">Mon super titre</h2><br>
    <p id="paragraphe">Ceci est un super paragraphe ,lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam nihil a totam ullam ab ipsam odio aliquam placeat quibusdam voluptatibus quia similique veritatis deleniti, in, omnis harum corporis optio quae.</p><br>
    <span class="span">Span de haute qualité.</span>

    
{% endblock %}


{% block javascriptsExt %}
    <script src={{ asset('js/niveaux/2/n2e4.js')}}></script>
{% endblock %}