{% extends 'exercice/exercice.html.twig' %}

{% block perso_css %}<link rel="stylesheet" href="{{ asset('css/niveaux/1/n1e9.css') }}">{% endblock %}

{% block lecons %}
<p class="text-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam
    asperiores aspernatur
    cum deleniti dolorem harum illo in maiores, natus necessitatibus nesciunt nihil,
    nobis
    officia officiis quas, repellat saepe suscipit voluptatem!</p>
<p class="text-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam
    asperiores aspernatur
    cum deleniti dolorem harum illo in maiores, natus necessitatibus nesciunt nihil,
    nobis
    officia officiis quas, repellat saepe suscipit voluptatem!</p>

{% endblock %}


{% block elements %}
    <!--Devra etre généré si possible en php depuis la BDD des exercice-->

{% endblock %}

{% block code %}

{% endblock %}

{% block nextlevel %}
<form action="{{ path('exercice', {slug : 'niveau-'~exercice.level.number~'-exercice'~next}) }}"
      method="post">
    <input type="hidden" name='token' value="{{ csrf_token('next-token') }}">
    <input type="hidden" name='exFinish' value="{{ exercice.id }}">
    <button class="btn p-4" id="next">Exercice suivant -></button>
</form>
{% endblock %}

{% block trophy %}
{% endblock %}

{% block apercu %}
<div id="success6" class="text-center"></div>
<div id="success9"></div>
{% endblock %}


{% block javascriptsExt %}
    <script src={{ asset('js/niveaux/1/n1e9.js')}}></script>
{% endblock %}